---
title: Fujifilm X100F Recipe Chooser
description: Helps you choose which set of custom recipes to setup on your Fujifilm X100F
data:
  - name: "Velvia"
    url: "https://fujixweekly.com/2017/10/01/my-fujifilm-x100f-velvia-film-simulation-recipe/"
    whitebalance: "Auto, +1 Red, -1 Blue"
  - name: "Improved Velvia"
    url: "https://fujixweekly.com/2022/02/25/fujifilm-x-h1-x-trans-iii-x-t3-x-30-film-simulation-recipe-improved-velvia/"
    whitebalance: "Auto, -1 Red, -2 Blue"
  - name: "Astia"
    url: "https://fujixweekly.com/2017/10/16/my-fujifilm-x100f-astia-film-simulation-recipe/"
    whitebalance: "Auto"
  - name: "Everyday Astia"
    url: "https://fujixweekly.com/2022/09/21/fujifilm-x-h1-x-trans-iii-x-t3-x-t30-film-simulation-recipe-everyday-astia/"
    whitebalance: "Auto, -1 Red, -2 Blue"
  - name: "Classic Chrome"
    url: "https://fujixweekly.com/2017/08/27/my-fujifilm-x100f-classic-chrome-film-simulation-recipe/"
    whitebalance: "Auto, +1 Red, -1 Blue"
  - name: "Vintage Kodachrome"
    url: "https://fujixweekly.com/2017/10/21/my-fujifilm-x100f-vintage-kodachrome-film-simulation-recipe/"
    whitebalance: "Auto, +2 Red, -4 Blue"
  - name: "Vintage Kodacolor"
    url: "https://fujixweekly.com/2022/08/29/fujifilm-x-trans-iii-x-t3-x-t30-film-simulation-recipe-vintage-kodacolor/"
    whitebalance: "Temp:9100K, -4 Red, +4 Blue"
  - name: "Mystery Chrome"
    url: "https://fujixweekly.com/2022/12/09/fujifilm-x-trans-iii-x-t3-x-t30-film-simulation-recipe-mystery-chrome/"
    whitebalance: "Daylight, +3 Red, -5 Blue"
  - name: "PRO Neg. Hi"
    url: "https://fujixweekly.com/2018/01/21/my-fujifilm-x100f-pro-neg-hi-film-simulation-recipe-portraits/"
    whitebalance: "Auto"
  - name: "Fujicolor Pro 160NS"
    url: "https://fujixweekly.com/2021/05/24/a-different-approach-7-new-fujicolor-pro-160ns-film-simulation-recipes-yes-7/"
    whitebalance: "Daylight, 0 Red, 0 Blue"
  - name: "Fujicolor Superia 800"
    url: "https://fujixweekly.com/2018/02/03/my-fujifilm-x100f-fujicolor-superia-800-film-simulation-recipe-pro-neg-std/"
    whitebalance: "Auto, -2 Red, -3 Blue"
  - name: "CineStill 800T"
    url: "https://fujixweekly.com/2018/04/25/my-fujifilm-x100f-cinestill-800t-film-simulation-recipe/"
    whitebalance: "Temp:3200K"
  - name: "&#8220;Eterna&#8221;"
    url: "https://fujixweekly.com/2018/03/02/my-fujifilm-x100f-eterna-film-simulation-recipe/"
    whitebalance: "Auto, +2 Red, +2 Blue"
  - name: "Eterna"
    url: "https://fujixweekly.com/2019/04/13/my-x-t30-eterna-recipe-for-x-trans-iii/"
    whitebalance: "Auto, +5 Red, -6 Blue"
  - name: "Kodak Portra 400"
    url: "https://fujixweekly.com/2018/05/30/my-fujifilm-x100f-kodak-portra-400-film-simulation-recipe/"
    whitebalance: "Custom, +2 Red, -5 Blue"
  - name: "Kodak Ektar 100"
    url: "https://fujixweekly.com/2018/06/16/my-fujifilm-x100f-kodak-ektar-100-film-simulation-recipe/"
    whitebalance: "Auto, +3 Red, -2 Blue"
  - name: "Kodachrome II"
    url: "https://fujixweekly.com/2018/08/19/my-fujifilm-x-pro2-kodachrome-ii-film-simulation-recipe/"
    whitebalance: "Auto, +3 Red, -4 Blue"
  - name: "Dramatic Classic Chrome"
    url: "https://fujixweekly.com/2018/05/22/my-fujifilm-x-pro2-dramatic-classic-chrome-film-simulation-recipe/"
    whitebalance: "Auto, +1 Red, -1 Blue"
  - name: "Vintage Agfacolor"
    url: "https://fujixweekly.com/2018/06/23/my-fujifilm-x-pro2-vintage-agfacolor-film-simulation-recipe/"
    whitebalance: "Auto, -3 Red, -4 Blue"
  - name: "Aged Color"
    url: "https://fujixweekly.com/2018/11/17/my-fujifilm-x-t20-aged-color-film-simulation-recipe/"
    whitebalance: "Auto, +5 Red, -3 Blue"
  - name: "Kodak Ektachrome 100SW"
    url: "https://fujixweekly.com/2018/12/02/my-fujifilm-x-t20-kodak-ektachrome-100sw-film-simulation-recipe/"
    whitebalance: "Auto, +3 Red, -4 Blue"
  - name: "Ektachrome E100GX"
    url: "https://fujixweekly.com/2022/07/26/fujifilm-x-trans-iii-x-t3-x-t30-film-simulation-recipe-ektachrome-e100gx/"
    whitebalance: "Fluorescent 2, -1 Red, -6 Blue"
  - name: "Fujicolor NPL 160 Tungsten"
    url: "https://fujixweekly.com/2021/12/06/fujifilm-x-h1-x-trans-iii-film-simulation-recipe-fujicolor-npl-160-tungsten/"
    whitebalance: "Fluorescent 3, -6 Red, -3 Blue"
  - name: "Fujicolor Pro 400H"
    url: "https://fujixweekly.com/2018/12/23/my-fujifilm-x-t20-fujicolor-pro-400h-film-simulation-recipe/"
    whitebalance: "Auto, +2 Red, +1 Blue"
  - name: "Fujicolor Pro"
    url: "https://fujixweekly.com/2023/05/08/fujicolor-pro-fujifilm-x-trans-iii-x-t3-x-t30-film-simulation-recipe/"
    whitebalance: "Temp:5900K, -2 Red, 0 Blue"
  - name: "Agfa Optima"
    url: "https://fujixweekly.com/2019/02/14/fujifilm-provia-film-simulation-settings-or-my-agfa-optima-200-recipe/"
    whitebalance: "Auto, -1 Red, -1 Blue"
  - name: "&#8220;Classic Negative&#8221;"
    url: "https://fujixweekly.com/2019/11/07/my-fujifilm-classic-negative-film-simulation-recipe-for-x-trans-iii/"
    whitebalance: "Temp:6700K, -2 Red, +7 Blue"
  - name: "Kodak Ultramax"
    url: "https://fujixweekly.com/2020/08/24/fujifilm-x-t20-x-trans-iii-x-t30-film-simulation-recipe-kodak-ultramax/"
    whitebalance: "Auto, +1 Red, -6 Blue"
  - name: "Kodak GT 800-5"
    url: "https://fujixweekly.com/2022/01/11/fujifilm-x-h1-film-simulation-recipe-kodak-gt-800-5/"
    whitebalance: "Temp:7100K, +7 Red, -5 Blue"
  - name: "Cine Teal"
    url: "https://fujixweekly.com/2020/06/25/fujifilm-x-t20-x-trans-iii-film-simulation-recipe-cine-teal/"
    whitebalance: "Temp:4500K, +2 Red, -8 Blue"
  - name: "Cross Process"
    url: "https://fujixweekly.com/2018/10/15/my-fujifilm-x100f-cross-process-film-simulation-recipe/"
    whitebalance: "Auto, -3 Red, -8 Blue"
  - name: "Melancholy Blue"
    url: "https://fujixweekly.com/2022/08/08/fujifilm-x-trans-iii-x-t3-x-t30-film-simulation-recipe-melancholy-blue/"
    whitebalance: "Incandescent, +4 Red, -9 Blue"
  - name: "Analog Monochrome"
    url: "https://fujixweekly.com/2022/01/05/fujifilm-x-h1-x-trans-iii-x-t3-x-t30-film-simulation-recipe-analog-monochrome/"
    whitebalance: "Incandescent, -8 Red, -8 Blue"
  - name: "Acros"
    url: "https://fujixweekly.com/2017/08/27/my-fujifilm-x100f-acros-film-simulation-recipe/"
    whitebalance: ""
  - name: "Acros Push Process"
    url: "https://fujixweekly.com/2017/11/11/my-fujifilm-x100f-acros-push-process-film-simulation-recipe/"
    whitebalance: ""
  - name: "Agfa Scala"
    url: "https://fujixweekly.com/2018/08/12/my-fujifilm-x100f-agfa-scala-film-simulation-recipe/"
    whitebalance: ""
  - name: "Ilford HP5 Plus"
    url: "https://fujixweekly.com/2018/12/01/my-fujifilm-x100f-ilford-hp5-plus-film-simulation-recipe/"
    whitebalance: ""
  - name: "Ilford XP2 Super 400"
    url: "https://fujixweekly.com/2021/12/11/fujifilm-x-h1-x-trans-iii-film-simulation-recipe-ilford-xp2-super-400/"
    whitebalance: "Temp:10000K, +7 Red, +7 Blue"
  - name: "Kodak Tri-X Push Process"
    url: "https://fujixweekly.com/2018/08/25/not-my-fujifilm-x-pro2-tri-x-push-process-film-simulation-recipe/"
    whitebalance: ""
---

<style>
.whitebalance-groups {
  list-style: none;
  display: flex;
  flex-basis: 10em;
  flex-wrap: wrap;
}
.simulation-groups {
  display: flex;
  flex-wrap: wrap;
}
.simulation-group {
  margin: 0.5em 1em;
}
.shift-groups {
  margin-top: 0;
}
.shift-groups li {
  margin: 0;
}
#preview {
  display: none;
}
#preview_iframe {
  width: 100%;
  height: 70vh;
}
.entry-content h2 {
  margin-top: 1em;
}
</style>

<h2>Guide</h2>
<p>
  Choose one recipe per whitebalance setting, so you can use the custom recipes without clashing with the global whitebalance shift that isn't saveable per custom setting.
  <br>
  Clicking a selection will show the FujiXWeekly page for it in an preview window.
</p>

<h2>Selections</h2>
<p id=selections>None</p>
<div id=preview>
  <p aria-describes="preview">Previewing <span id=preview_info></span></p>
  <iframe id="preview_iframe"></iframe>
</div>

<h2>Recipes</h2>
<form id="fujixweekly">
  <div class="whitebalance-groups">
    {% assign types = page.data | group_by_exp: "item", "item.whitebalance | split:', ' | first | split:':' | first | default:'None'" %}
    {% for type_hash in types %}
      <div class="whitebalance">
        {{ type_hash.name }}
        <fieldset class="simulation-groups">
          {% assign shifts = type_hash.items | group_by_exp: "item", "item.whitebalance" %}
          {% for shift_hash in shifts %}
            <div class="simulation-group">
              {% capture name_removal1 %}{{ type_hash.name }}, {% endcapture %}
              {% capture name_removal2 %}{{ type_hash.name }}:{% endcapture %}
              {% assign name = shift_hash.name | remove_first: name_removal1 | remove_first: name_removal2 %}
              <input type=radio name="{{type_hash.name}}" id="{{type_hash.name}}_{{name}}" value="{{shift_hash.items|jsonify|escape}}">
              <label for="{{type_hash.name}}_{{name}}">{{name}}</label>
              <ul class="shift-groups">
                {% for item in shift_hash.items %}
                  <li class="simulation">
                    {% assign has_whitebalance = item.whitebalance|size %}
                    {% if has_whitebalance > 0 %}
                      {% assign wb = item.whitebalance | split:', ' %}
                      {% assign temp = wb[0]|split:'Temp:' %}
                      {% assign redshift = wb[1] %}
                      {% assign blueshift = wb[2] %}
                    {% endif %}
                    {{item.name}}
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endfor %}
        </fieldset>
      </div>
    {% endfor %}
  </div>
</form>

<script>
fujixweekly.addEventListener('change', function(event) {
  const values = Object.fromEntries(new FormData(event.target.form).entries());
  console.log('change!', values);
  selections.innerHTML = Object.entries(values).map(([k,v]) => {
    const data = JSON.parse(v);
    console.log('data!', data);
    return `<b>${k}</b> ` + data.map(item => `<a href="${item.url}" class="recipe-link" data-whitebalance="${item.whitebalance}">${item.name}</a>`).join(', ');
  }).join('; ');
});
document.addEventListener('click', function (event) {
  const link = event.target.closest('.recipe-link');
  if (!link) return;
  event.preventDefault();

  preview.style.display = 'block';
  preview_iframe.src = link.href + '#main';
  preview_info.innerHTML = `${link.textContent}: ${link.dataset.whitebalance} (<a href="${link.href}" target="_blank">view on FujiXWeekly.com</a>)`;
  return false;
});
</script>
