@media screen and (min-width: 1024px) {
  .page-header {
    width: 13em;
  }
}

section,
aside {
  text-align: center;
}

.fancy-title.emoji-on-the-left {
  /* Allow just the text to be centered, ignoring the emoji */
  margin-left: -1em;
  padding-left: 1em;
  padding-right: 1em;
}

@media screen and (min-width: 1024px) {
  section,
  aside {
    text-align: left;
  }
}

ul.side-by-side {
  margin-top: -1em;
}

.skills {
  font-weight: bold;
}
.skills small {
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  font-weight: normal;
}

.p-name-wrapper .journal-crossout {
  margin-top: 0.4em;
  margin-bottom: 1em;
}
.p-name-wrapper .journal-crossout::before {
  height: auto;
  width: auto;
  min-height: 180px;
  min-width: 500px;
  max-width: 650px;
  margin: 0 auto;
  transform: none;
  top: -30px;
  bottom: -10px;
  left: -20px;
  right: -20px;
  opacity: 0.7;
}
@media (prefers-color-scheme: dark) {
  .p-name-wrapper .journal-crossout::before {
    opacity: 1;
  }
}
@media (max-width: 500px) {
  .p-name-wrapper .journal-crossout::before {
    min-width: 0;
    width: 100vw;
    background-size: 500px 100%;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
  }
}

.logo-flipper {
  height: 200px;
  width: 200px;
}
.logo-flipper .logo-signature {
  top: 8px;
  left: 0;
}
.logo-flipper .logo-myface {
  top: 8px;
  left: 0;
  padding: 35px;
}

.p-name-wrapper,
.logo-flipper,
.logo-flipper .frontface,
.logo-flipper .backface,
nav,
.entry-content,
footer {
  opacity: 0;
  animation-duration: 500ms;
  animation-delay: 100ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
.logo-flipper {
  animation-name: fade-in, scale-in;
}
.logo-flipper .frontface {
  opacity: 0;
  animation-name: fade-in;
  animation-delay: 2200ms;
  animation-duration: 1200ms;
}
.logo-flipper .backface {
  opacity: 1;
  animation-name: fade-out;
  animation-delay: 2200ms;
  animation-duration: 1200ms;
}
nav {
  animation-name: fade-in;
}
.p-name-wrapper,
.entry-content,
footer {
  animation-name: fade-in, pull-in;
  animation-duration: 330ms;
}
nav {
  animation-delay: 220ms;
}
.p-name-wrapper {
  animation-delay: 600ms;
}
.entry-content,
footer {
  animation-delay: 470ms;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media (prefers-reduced-motion: no-preference) {
  @keyframes scale-in {
    from {
      transform: scale(0.6) translateZ(0);
    }
    to {
      transform: scale(1) translateZ(0);
    }
  }
  @keyframes pull-in {
    from {
      transform: translateY(25px) translateZ(0);
    }
    to {
      transform: translateY(0) translateZ(0);
    }
  }
}
