#ipad-cursor-wrapper {
  pointer-events: none;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#ipad-cursor {
  fill: #2F5B83;
  opacity: 0.2;
}

@media (prefers-color-scheme: dark) {
  #ipad-cursor {
    fill: #8CB1D4;
  }
}

