.screenreader,
a[href^="#footnote-"]::before {
  /* @include squish-text (compass@1.0.3/typography/text/replacement) */
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
  /* end squish-text */
  float: left
}

a[href^="#footnote-"] {
  margin-left: 0.125em;
  margin-right: 0.25em;
}
a[href^="#footnote-"]::before {
  content: 'footnote'
}

.accessible-skip {
  padding: 6px;
  position: fixed;
  top: -40px;
  left: 0px;
  color: white !important;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  border-bottom-right-radius: 8px;
  background: #BF1722;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 100;
}

.accessible-skip:focus {
  top: 0px;
  outline-color: transparent;
  -webkit-transition-duration: .1s;
  -webkit-transition-timing-function: ease-in;
  transition-duration: .1s;
  transition-timing-function: ease-in;
}

.hidden {
  display: none
}

/* Reset */

html,
body {
  margin: 0;
  padding: 0
}

body {
  background-color: rgb(255, 254, 249);
  color: #23242C;
  font-family: "Open Sans", "HelveticaNeue", sans-serif;
  font-size: 100%;
  font-weight: 400;
  font-style: normal;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  padding: 1em;
  position: relative;
}

@media screen and (min-width: 800px) {
  body {
    padding: 2em;
  }
}

body::before {
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: url(/images/white-paper-texture-with-flecks.jpg) repeat;
  background-size: contain;
  opacity: 0.2;
  z-index: -1;
  pointer-events: none;
}

#body-inner {
  background: url(/images/journal-dots.svg) space 0 0;
  background-size: 20px;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(3, 7, 33);
    color: #DEDEDE;
  }
  body::before {
    opacity: 0.7;
    filter: invert() brightness(0.7) contrast(1.1);
  }
  #body-inner {
    background-image: url(/images/journal-dots-light.svg);
  }
}

* {
  box-sizing: inherit;
}

address {
  font-style: normal;
}

iframe,
img {
  max-width: 100%;
}

/* Links */

a,
a button,
.button-link,
details summary {
  color: inherit;
  text-decoration: underline;
}

a:hover,
a:focus,
a button:hover,
a button:focus,
.button-link:hover,
.button-link:focus,
details summary:hover,
details summary:focus {
  color: #A80084;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  a:hover,
  a:focus,
  a button:hover,
  a button:focus,
  .button-link:hover,
  .button-link:focus,
  details summary:hover,
  details summary:focus {
    color: #FF80E8;
  }
}


article a {
  color: #A80084;
}

@media (prefers-color-scheme: dark) {
  article a {
    color: #FF80E8;
  }
}

.icon {
  margin-right: 0.25em;
  text-align: left;
}

a button,
.button-link {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  border: 0;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  vertical-align: middle;
  background-image: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.list-reset {
  list-style: none !important;
  padding: 0;
}

/* Header */

.p-name-wrapper {
  margin: 0;
  margin-bottom: 2em;
  text-align: center;
}
@media screen and (min-width: 800px) {
  .p-name-wrapper {
    margin-top: 2em;
  }
}

nav {
  text-align: center;
  margin: 0;
}

nav ul {
  list-style: none;
  margin: 1em auto;
  padding: 0;
  font-size: 1.8em;
}

nav ul li {
  display: inline-block;
  margin: 0 0.25em;
}

.logo {
  display: block;
  margin: 10px; /* same as shadow size so it's not cutoff by parent overflow */
  height: 100px;
  width: 100px;
  position: relative;
  flex-shrink: 0;
  background-color: #fcfcfc;
  border-radius: 50%;
  border: 2px solid #fcfcfc;
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.3);
  overflow: hidden;
}

.logo img,
.logo svg {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media (prefers-color-scheme: dark) {
  .logo {
    background-color: #23242C;
  }
  .logo svg {
    fill: #fcfcfc;
  }
}

/* Structure */

.content-max-width {
  max-width: 1200px;
}

.logo-and-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 800px) {
  .logo-and-nav {
    margin-bottom: 1.25em;
  }
}

main hr {
  background: url(/images/watercolour-line-light.svg) no-repeat;
  margin: 2em auto;
  border: none;
  height: 0.4em;
  max-width: 5em;
  width: 100%;
}
main hr:nth-child(odd) {
  transform: scaleX(-1) scaleY(-1);
}

.page-top {
  margin-bottom: 2em;
}

#share-section {
  margin-top: 4em;
}

.side-by-side {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1em !important;
  margin-right: -1em !important;
}
.side-by-side > * {
  flex-basis: 350px;
  flex-grow: 1;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em !important;
  margin-right: 1em !important;
}
.side-by-side > * > *:first-child {
  margin-top: 0;
}
.side-by-side .side-by-side > * {
  flex-basis: 175px;
}

/* Logo interaction */

.logo-flipper img,
.logo-flipper svg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

img.backface {
  opacity: 0;
  z-index: 2;
}

.logo-flipper:hover img.backface,
.logo-flipper:focus img.backface {
  opacity: 1 !important;
}

/* Page title/subtitle */

.p-name-wrapper > * {
  display: block;
  font-size: 5em;
  min-width: 2.5em;
  font-weight: bold;
  margin: 0;
  font-family: "Dancing Script", cursive;
}

.journal-highlight {
  background: url(/images/watercolour-line-light.svg) no-repeat;
  background-position: center 70%;
  background-size: 100% 40%;
}

.page-title,
.page-subtitle {
  line-height: 1.2;
}

.page-title {
  color: rgb(198, 16, 49);
}

@media (prefers-color-scheme: dark) {
  .page-title {
    color: rgb(247, 59, 106);
  }
}

/* Footer */

footer {
  margin: 0;
  margin-top: 2em;
  text-align: center;
  height: 7.5em;
}

footer .contact {
  margin-bottom: 5px
}

footer .contact .first {
  margin-right: 5px;
  vertical-align: middle
}

footer ul {
  margin: 1em 0;
}

footer ul li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
  font-size: 2em;
}

@-ms-viewport {
  width: device-width
}

.strikethrough-wrapper {
  display: flex;
  align-items: center;
  line-height: 1;
  text-align: center
}

.strikethrough-wrapper::before,
.strikethrough-wrapper::after {
  content: "";
  display: block;
  flex: 1;
  background: url(/images/watercolour-line-light.svg) no-repeat;
  height: 1em;
}

.strikethrough-wrapper::before {
  margin-right: 0.625em
}

.strikethrough-wrapper::after {
  margin-left: 0.625em;
  transform: scaleX(-1) scaleY(-1);
}

.page-post .entry-content img:not(.image-reset) {
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.3);
  border-radius: 10px;
}

@media screen and (min-width: 800px) {
  .flex-wrapper {
    display: flex;
  }

  header {
    flex-shrink: 0;
    flex-grow: 0;
    align-self: flex-start;
    max-height: 100vh;
    position: -webkit-sticky;
    position: sticky;
    top: 2em; /* same as body top padding */
    overflow: auto;
    margin-right: 1em;
  }

  .page-wrapper {
    flex-grow: 1;
  }

  nav ul li {
    display: list-item;
  }
}

/* Typography */

h1,
h2,
h3,
h4,
h5,
h6,
.page-top,
.large-text {
  font-family: "PT Sans", "HelveticaNeue", sans-serif;
}

.page-subtitle {
  font-size: 1.5em;
  font-weight: normal;
}

.large-text {
  font-size: 3em;
}

.center-text {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin: 0;
  margin-bottom: 0.625em;
}

@media (prefers-color-scheme: dark) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  strong {
    /* Interestingly, for blog title links (<a> wrapping heading) this overrides
    the <a> colour, which is quite nice for dark mode 🤗 */
    color: #fcfcfc;
  }
}

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
  margin-top: 2em;
}

.entry-content h1:not(:hover) > .heading-anchor:not(:focus),
.entry-content h2:not(:hover) > .heading-anchor:not(:focus),
.entry-content h3:not(:hover) > .heading-anchor:not(:focus),
.entry-content h4:not(:hover) > .heading-anchor:not(:focus),
.entry-content h5:not(:hover) > .heading-anchor:not(:focus),
.entry-content h6:not(:hover) > .heading-anchor:not(:focus) {
  opacity: 0;
}

.entry-content hr + h1,
.entry-content hr + h2,
.entry-content hr + h3,
.entry-content hr + h4,
.entry-content hr + h5,
.entry-content hr + h6,
.entry-content h1 + h2,
.entry-content h2 + h3,
.entry-content h3 + h4,
.entry-content h4 + h5,
.entry-content h5 + h6,
.entry-content ul h1,
.entry-content ul h2,
.entry-content ul h3,
.entry-content ul h4,
.entry-content ul h5,
.entry-content ul h6,
.entry-content > h1:first-child,
.entry-content > h2:first-child,
.entry-content > h3:first-child,
.entry-content > h4:first-child,
.entry-content > h5:first-child,
.entry-content > h6:first-child {
  margin-top: 0;
}

h1 {
  font-size: 2.25em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.6em;
}

h5 {
  font-size: 1.45em;
}

h6 {
  font-size: 1.3em;
}

p,
ul,
ol {
  margin: 1em 0;
}

#content p {
  line-height: 1.6;
}

ul,
ol {
  padding: 0;
  padding-left: 2em;
  list-style-position: outside;
}

ul {
  list-style-type: disc;
}

li {
  margin: .5em 0;
}

blockquote {
  font-style: italic;
  padding: 5px;
  padding-left: 20px;
  margin: 1em 0;
  position: relative
}

blockquote::before {
  content: "";
  background-color: #23242C;
  position: absolute;
  width: 10px;
  height: 100%;
  top: 0;
  left: 0
}
blockquote.twitter-tweet::before {
  content: 'Tweet:';
  white-space: nowrap;
  text-indent: 20px;
}

@media (prefers-color-scheme: dark) {
  blockquote:before {
    background-color: #fcfcfc;
  }
}

.avatar {
  width: 2em;
  border-radius: 0.25em;
  border: 2px solid #23242C;
}

@media (prefers-color-scheme: dark) {
  .avatar {
    border: 2px solid #fcfcfc;
  }
}

.fancy-title > .emoji {
  transition: text-shadow 340ms;
}
.fancy-title:hover > .emoji {
  transition-duration: 110ms;
  text-shadow: 3px 2px 1px rgba(120,120,120,0.4);
}

#ipad-cursor-input {
  cursor: pointer;
  margin: 0 0.5em;
}

.highlight pre,
code {
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  font-size: 85%;
}
code {
  background-color: rgba(27,31,35,0.05);
  padding: .2em .4em;
  border-radius: 3px;
}
pre.highlight {
  border-radius: 10px;
  margin: 1em 0;
  padding: 1em;
  line-height: 1.4;
  /* stop hidden scrollbars getting in the way regardless of rest of padding */
  padding-bottom: 1em;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
pre.highlight code {
  background-color: transparent;
  padding: 0;
  border-radius: 0;
}

details summary {
  cursor: pointer;
}

#share-fallback:not([hidden]) {
  display: inline-block;
  margin: 0;
}

#share-fallback summary::-webkit-details-marker {
  display: none;
}

#share-fallback ul {
  margin: 0;
  padding-left: 1em;
}

.flash {
  position: relative;
}
.flash::after {
  content: '';
  position: absolute;
  pointer-events: none;
  top: -2px;
  left: -4px;
  bottom: -2px;
  right: -4px;
  border-radius: 5px;
}
.flash::after,
#content :target {
  animation: flash 640ms ease-in-out alternate 2;
}

@keyframes flash {
  from {
    background-color: transparent;
  }
  to {
    background-color: #A80084;
  }
}

@media (prefers-color-scheme: dark) {
  @keyframes flash {
    from {
      background-color: transparent;
    }
    to {
      background-color: #FF80E8;
    }
  }
}

.posts {
  margin: 0;
}

.posts > li {
  word-break: break-word;
}

.posts .published {
  margin: 0;
}

.posts h2,
.posts h3 {
  margin-bottom: 0;
}

.post-image {
  border: 2px solid #23242C;
  height: 10em;
  width: 100%;
}
@media (prefers-color-scheme: dark) {
  .post-image {
    border-color: #DEDEDE;
  }
}

.image-from-url {
  background-size: cover;
  background-position: left center;
  transition: filter 400ms ease-out;
}
.image-from-url:hover {
  filter: saturate(0) brightness(1.6);
}

/*
1 #ffd0d2
2 #fffdd0
3 #d0fffd
4 #d0d2ff
*/

.random-gradient {
  transition: filter 400ms ease-out;
}

.random-gradient:hover {
  filter: saturate(0);
}
.random-gradient-0 {
  background-image: linear-gradient(141deg, #ffd0d2 50%, #fffdd0 50%);
}
.random-gradient-1 {
  background-image: linear-gradient(141deg, #ffd0d2 50%, #d0fffd 50%);
}
.random-gradient-2 {
  background-image: linear-gradient(141deg, #fffdd0 50%, #ffd0d2 50%);
}
.random-gradient-3 {
  background-image: linear-gradient(141deg, #fffdd0 50%, #d0d2ff 50%);
}
.random-gradient-4 {
  background-image: linear-gradient(141deg, #d0fffd 50%, #ffd0d2 50%);
}
.random-gradient-5 {
  background-image: linear-gradient(141deg, #d0fffd 50%, #d0d2ff 50%);
}
.random-gradient-6 {
  background-image: linear-gradient(141deg, #d0d2ff 50%, #fffdd0 50%);
}
.random-gradient-7 {
  background-image: linear-gradient(141deg, #d0d2ff 50%, #d0fffd 50%);
}

@media (prefers-color-scheme: dark) {
  .random-gradient:hover {
    filter: saturate(0) contrast(1.3);
  }
  .random-gradient-0 {
    background-image: linear-gradient(141deg, #962d48 50%, #e08f0b 50%);
  }
  .random-gradient-1 {
    background-image: linear-gradient(141deg, #3b9e02 50%, #0579a7 50%);
  }
  .random-gradient-2 {
    background-image: linear-gradient(141deg, #e08f0b 50%, #962d48 50%);
  }
  .random-gradient-3 {
    background-image: linear-gradient(141deg, #e08f0b 50%, #4147b4 50%);
  }
  .random-gradient-4 {
    background-image: linear-gradient(141deg, #0579a7 50%, #3b9e02 50%);
  }
  .random-gradient-5 {
    background-image: linear-gradient(141deg, #0579a7 50%, #4147b4 50%);
  }
  .random-gradient-6 {
    background-image: linear-gradient(141deg, #4147b4 50%, #e08f0b 50%);
  }
  .random-gradient-7 {
    background-image: linear-gradient(141deg, #4147b4 50%, #0579a7 50%);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .image-from-url {
    background-size: 100%;
    background-repeat: repeat-x;
    transition-property: filter, background-size;
  }
  .image-from-url:hover {
    background-size: 50%;
  }

  .random-gradient {
    background-size: 100%;
    background-position-x: 50%;
    transition-property: filter, background-size, background-position;
  }
  .random-gradient:hover {
    background-size: 200%;
    background-position-x: 150%;
  }
}

.posts.side-by-side li {
  max-width: 600px;
}

.minimal h3,
.minimal p:not(.published),
.minimal hr {
  display: none;
}

.posts figure {
  margin: 0;
}

.secret {
  opacity: 0;
  transition: opacity 240ms ease-in-out;
}
.secret:hover,
.secret:focus {
  opacity: 1;
}
