.screenreader {
  /* @include squish-text (compass@1.0.3/typography/text/replacement) */
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
  /* end squish-text */
  float: left
}

.hidden {
  display: none
}

html,
body {
  margin: 0;
  padding: 0
}

body {
  background-color: #fcfcfc;
  color: #252525;
  font-family: "PT Sans", serif;
  font-size: 100%;
  font-weight: normal;
  line-height: 1.4;
  /* padding: 2em 2em; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

a {
  color: #346492;
  color: #2F5B83;
  text-decoration: underline;
}

a:hover,
a:focus {
  text-decoration: none;
}

.links a {
  text-decoration: none
}

.links a .title {
  text-decoration: underline
}

.links a:hover .title,
.links a:focus .title {
  text-decoration: none
}

.link {
  list-style: none !important
}

.link i,
.link .title {
  display: inline-block
}

.link a {
  color: #252525
}

.link a:hover,
.link a:focus {
  color: #346492
}

.link.highlight a {
  color: #346492
}

.link.highlight.no-title a:hover,
.link.highlight.no-title a:focus {
  color: #252525
}

.content-max-width {
  max-width: 900px;
  margin: auto;
}

.page-header {
  padding-top: 0.5em;
  font-family: "PT Sans Narrow", serif;
  font-size: 2em;
  text-transform: uppercase;
}

nav ul li {
  margin-bottom: 0.25em;
}

nav ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin-right: 0.5em;
  color: #c738a8;
}

nav ul li:last-child {
  margin-right: 0;
}

.logo-flipper {
  margin: 0 auto;
  margin-bottom: 1em;
  height: 200px;
  width: 200px;
  position: relative
}

.logo-and-nav {
  padding: 0 0.5em;
}

.logo-and-nav nav {
  flex-shrink: 0;
}

@media screen and (min-width: 600px) {
  .logo-and-nav {
    padding: 0 1em;
    display: flex;
    flex-direction: row-reverse;
  }
  .logo-and-nav nav {
    width: 200px;
    margin-right: -200px;
  }
  .logo-and-nav nav ul {
    display: block;
    text-align: left;
    max-width: none;
  }
  .logo-and-nav nav ul li {
    display: block;
  }
  .logo-flipper {
    margin: auto;
  }
}

.logo-flipper img {
  border-radius: 50%;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1
}

.logo-flipper img.backface {
  display: none;
  z-index: 2;
  border: 8px solid #23242C;
  box-sizing: border-box
}

.logo-flipper:hover img.backface,
.logo-flipper:focus img.backface {
  display: initial
}

.page-header .strikethrough-wrapper h1 {
  font-size: inherit;
  font-weight: normal;
  margin: 0
}

.page-header .p-name {
  display: block;
  margin: 20px 0;
}

.page-title {
  color: #346492;
  font-size: 3em;
  line-height: 1
}

.page-subtitle {
  font-size: 1.5em
}

.highlight {
  color: #346492
}

.page-footer {
  margin-top: 2em;
  padding-bottom: 2em;
  text-align: center
}

.page-footer .contact {
  margin-bottom: 5px
}

.page-footer .contact .first {
  margin-right: 5px;
  vertical-align: middle
}

.page-footer .links {
  margin: 1em 0;
  padding: 0
}

.page-footer .link {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
  font-size: 2em
}

@-ms-viewport {
  width: device-width
}

.strikethrough-wrapper {
  display: flex;
  align-items: center;
  line-height: 1;
  /* margin: 0 -2em; */
  text-align: center
}

.strikethrough-wrapper::before,
.strikethrough-wrapper::after {
  content: "";
  display: block;
  height: 1px;
  flex: 1;
  background-color: #252525
}

.strikethrough-wrapper::before {
  margin-right: 10px
}

.strikethrough-wrapper::after {
  margin-left: 10px
}

.page-body {
  padding: 0 2em;
}

.page-body h1,
.page-body h2,
.page-body h3,
.page-body h4,
.page-body h5,
.page-body h6 {
  font-weight: bold;
  margin: 0;
  margin-top: 10px
}

.page-body h1 {
  font-size: 2em
}

.page-body h2 {
  font-size: 1.75em
}

.page-body h3 {
  font-size: 1.6em
}

.page-body h4 {
  font-size: 1.4em
}

.page-body h5 {
  font-size: 1.3em
}

.page-body h6 {
  font-size: 1.2em
}

.page-body p,
.page-body ul {
  margin: 1em 0;
  padding: 0
}

.page-body li {
  margin: .5em 0;
  list-style-type: disc;
  list-style-position: inside
}

.page-body blockquote {
  font-style: italic;
  padding: 5px;
  padding-left: 20px;
  margin: 10px 0;
  position: relative
}

.page-body blockquote:before {
  content: "";
  background-color: #252525;
  position: absolute;
  width: 10px;
  height: 100%;
  top: 0;
  left: 0
}

.page-home .page-body .link {
  display: block;
  font-size: 2em;
  line-height: 1;
  margin: 1em 0;
  text-align: left
}

.page-home .page-body .link .fa,
.page-home .page-body .link .fas,
.page-home .page-body .link .fab {
  float: left;
  min-width: 1.5em;
  text-align: left;
}

.page-post .links {
  padding: 0
}

.page-post .links.position-top {
  margin-bottom: 1em
}

.page-post .links.position-bottom {
  margin-top: 1em
}

.page-posts .posts li>a {
  font-size: 1.6em
}

.page-posts .posts .excerpt {
  display: block;
  clear: both
}

.page-posts .empty {
  font-size: 2em
}

.page-doubles .page-body img,
.page-doubles .page-body canvas {
  margin: .5em auto;
  height: auto
}

.page-doubles .page-body img {
  width: 50%
}

.page-doubles .page-body canvas {
  max-width: 100%
}

.page-doubles .form-wrapper {
  background-color: #252525;
  padding: 15px;
  color: #fcfcfc
}

.page-doubles .form-wrapper button {
  background-color: #fcfcfc;
  color: #252525
}

.page-doubles .options li {
  list-style: none
}

.page-doubles .page-body input {
  vertical-align: middle
}

.page-doubles .page-body button {
  font-size: 1em;
  cursor: pointer
}
