.screenreader,
.screenreader-when-off:not(:hover):not(:focus),
a[href^="#footnote-"]::before {
  /* @include squish-text (compass@1.0.3/typography/text/replacement) */
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
  /* end squish-text */
  float: left
}

a[href^="#footnote-"] {
  margin-left: 0.125em;
  margin-right: 0.25em;
}
a[href^="#footnote-"]::before {
  content: 'footnote'
}

.accessible-skip {
  padding: 6px;
  position: fixed;
  top: -40px;
  left: 0px;
  color: white !important;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  border-bottom-right-radius: 8px;
  background: #BF1722;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 100;
}

.accessible-skip:focus {
  top: 0px;
  outline-color: transparent;
  -webkit-transition-duration: .1s;
  -webkit-transition-timing-function: ease-in;
  transition-duration: .1s;
  transition-timing-function: ease-in;
}

.hidden,
[hidden] {
  display: none
}

:focus {
  outline-color: #23242C;
  outline-style: double;
  outline-width: 5px;
}

.outline-big:focus {
  outline-offset: 5px;
}

@media (prefers-color-scheme: dark) {
  :focus {
    outline-color: #DEDEDE;
  }
}

/* Reset */

html,
body {
  margin: 0;
  padding: 0
}

body {
  background-color: rgb(255, 254, 249);
  color: #23242C;
  font-size: 100%;
  font-weight: 400;
  font-style: normal;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  padding: 1em;
  position: relative;
}

@media screen and (min-width: 1024px) {
  body {
    padding: 2em;
  }
}

body::before {
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: url(/images/white-paper-texture-with-flecks.jpg) repeat;
  background-size: contain;
  opacity: 0.2;
  z-index: -1;
  pointer-events: none;
}

#body-inner {
  background: url(/images/journal-dots.svg) space 0 0;
  background-size: 20px;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(3, 7, 33);
    color: #EEEEEE;
  }
  body::before {
    opacity: 0.7;
    filter: invert() brightness(0.7) contrast(1.1);
  }
  #body-inner {
    background-image: url(/images/journal-dots-light.svg);
  }
  .content-post img:not(:hover):not(:focus),
  .posts-list a:not(:hover) img {
    opacity: 0.7;
  }
}

* {
  box-sizing: inherit;
}

address {
  font-style: normal;
}

iframe,
img {
  max-width: 100%;
}

/* Links */

a,
a button,
.button-link,
details summary {
  color: inherit;
  text-decoration: underline;
}

a:hover,
a button:hover,
.button:hover,
.button-link:hover,
details summary:hover {
  color: #A80084;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  a:hover,
  a button:hover,
  .button-link:hover,
  details summary:hover {
    color: #FF80E8;
  }
}

.icon {
  margin: 0 0.125em;
  text-align: left;
}

a button,
.button-link {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  border: 0;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  vertical-align: middle;
  background-image: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.list-reset {
  list-style: none !important;
  padding: 0;
}

.inline-list {
  margin: 0;
}
.inline-list li {
  display: inline-block;
}
.inline-list li:not(:first-child)::before {
  content: '•';
  margin-left: 0.5em;
  margin-right: 0.5em;
  display: inline-block;
  vertical-align: middle;
}
.inline-list.inline-to-prev {
  display: inline-block;
  padding: 0;
  margin-left: 1em;
}

/* Header */

.p-name-wrapper {
  margin: 0;
  margin-bottom: 2em;
  text-align: center;
}

.page-header {
  text-align: center;
  margin: 0;
}

.page-header ul {
  list-style: none;
  margin: 0 auto;
  margin-bottom: 1em;
  padding: 0;
  font-size: 1.8em;
}

.page-header ul li {
  display: inline-block;
  margin: 0 0.25em;
}
@media screen and (min-width: 1024px) {
  .page-header ul li {
    display: list-item;
  }
}

.page-header .logo-list-item {
  display: block;
  margin: 0;
}

.logo {
  display: block;
  height: 100px;
  width: 100px;
  margin: auto;
  margin-top: 10px; /* enough space to stop focus outline getting chopped off by hidden overflow */
  position: relative;
  flex-shrink: 0;
  overflow: hidden;
}

.logo img,
.logo svg {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

@media (prefers-color-scheme: dark) {
  .logo svg {
    fill: #fcfcfc;
  }
}

/* Structure */

body:not(.page-photos) .content-max-width {
  max-width: 1200px;
}

#navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  #navigation {
    margin-bottom: 1.25em;
  }
}

main hr,
.journal-line {
  background: url(/images/watercolour-line-light.svg) no-repeat;
  margin: 2em auto;
  border: none;
  height: 0.4em;
  max-width: 5em;
  width: 100%;
}
main hr:nth-child(odd) {
  transform: scaleX(-1) scaleY(-1);
}

.page-top {
  display: inline-block;
  margin-bottom: 1rem;
}
.page-back-to-top {
  margin-top: 2em;
  display: inline-block;
}

#share-section,
#related-section {
  margin-top: 4em;
}

.side-by-side {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1em !important;
  margin-right: -1em !important;
}
.side-by-side > * {
  flex-basis: 350px;
  flex-grow: 1;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em !important;
  margin-right: 1em !important;
}
.side-by-side > * > *:first-child {
  margin-top: 0;
}
.side-by-side .side-by-side > * {
  flex-basis: 175px;
}

/* Logo interaction */

.logo-flipper > * {
  position: absolute;
  z-index: 1;
}

.logo-flipper .logo-journal-circle {
  top: 0;
  left: 0;
  z-index: 2;
}
.logo-flipper .logo-signature {
  top: 4px;
  left: 0;
}
.logo-flipper .logo-myface {
  top: 4px;
  left: 0;
  padding: 18px;
}

.logo-flipper .frontface {
  opacity: 1;
}
.logo-flipper .backface {
  opacity: 0;
}
.logo-flipper:hover .frontface {
  opacity: 0 !important;
}
.logo-flipper:hover .backface {
  opacity: 1 !important;
}

/* Page title/subtitle */

.p-name-wrapper > * {
  display: block;
  font-size: 5em;
  min-width: 2.5em;
  line-height: 1.1;
  font-weight: bold;
  margin: 0;
}

.journal-highlight,
.journal-crossout {
  text-shadow: 2px 2px 0px white, -1px -1px 0 white;
}
@media (prefers-color-scheme: dark) {
  .journal-highlight,
  .journal-crossout {
    text-shadow: 2px 2px 0px rgb(34, 17, 105), -1px -1px 0 rgb(34, 17, 105);
  }
}

.journal-highlight {
  background: url(/images/watercolour-line-light.svg) no-repeat;
  background-position: center 70%;
  background-size: 100% 40%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media (max-width: 500px) {
  .journal-highlight {
    background: none;
    position: relative;
  }
  .journal-highlight::before {
    content: '';
    position: absolute;
    width: 100vw;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    right: auto;
    z-index: -1;
    background: url(/images/watercolour-line-light.svg) no-repeat;
    background-position: center 70%;
    display: block;
    background-size: 110% 40%;
  }
}

.journal-crossout {
  position: relative;
}
.journal-crossout::before {
  content: '';
  height: 240px;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0; right: 0; bottom: 0;
  z-index: -1;
  background: url(/images/watercolour-crossout-light.svg) no-repeat;
  background-position: center;
  background-size: contain;
}

.page-title,
.page-subtitle {
  line-height: 1.2;
}

/* Footer */

footer {
  margin: 0;
  margin-top: 2em;
  text-align: center;
  height: 7.5em;
}

footer .contact {
  margin-bottom: 5px
}

footer .contact .first {
  margin-right: 5px;
  vertical-align: middle
}

footer ul {
  margin: 1em 0;
}

footer ul li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
  font-size: 2em;
}

@-ms-viewport {
  width: device-width
}

.strikethrough-wrapper {
  display: flex;
  align-items: center;
  line-height: 1;
  text-align: center
}

.strikethrough-wrapper::before,
.strikethrough-wrapper::after {
  content: "";
  display: block;
  flex: 1;
  background: url(/images/watercolour-line-light.svg) no-repeat;
  height: 1em;
}

.strikethrough-wrapper::before {
  margin-right: 0.625em
}

.strikethrough-wrapper::after {
  margin-left: 0.625em;
  transform: scaleX(-1) scaleY(-1);
}

.page-post .entry-content img:not(.image-reset):not(.post-image) {
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.3);
  border-radius: 10px;
}

@media screen and (min-width: 1024px) {
  .flex-wrapper {
    display: flex;
  }

  /* TODO: style like binder tabs, so it looks good fixed on the screen instead of floating over the journal dots. */
  .page-header {
    flex-shrink: 0;
    flex-grow: 0;
    align-self: flex-start;
    max-height: 100vh;
    position: -webkit-sticky;
    position: sticky;
    top: 2em; /* same as body top padding */
    overflow: auto;
    margin-right: 1em;
    width: 9em;
  }

  .page-wrapper {
    flex-grow: 1;
  }
}

/* Typography */

body,
.page-subtitle {
  font-family: 'EB Garamond', serif;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bilbo', cursive;
}

.large-text,
.p-name-wrapper > * {
  font-family: 'Dancing Script', cursive;
}

.page-title,
.post-title {
  font-family: 'Gentium Basic', serif;
}

.page-subtitle {
  font-size: 1.5em;
  font-weight: normal;
}

.large-text {
  font-size: 3em;
}

.center-text {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin: 0;
  margin-bottom: 0.625em;
}

@media (prefers-color-scheme: dark) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  strong {
    /* Interestingly, for blog title links (<a> wrapping heading) this overrides
    the <a> colour, which is quite nice for dark mode 🤗 */
    color: #fcfcfc;
  }
}

.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
  margin-top: 2em;
}

.entry-content h2:not(:hover) > .heading-anchor:not(:focus),
.entry-content h3:not(:hover) > .heading-anchor:not(:focus),
.entry-content h4:not(:hover) > .heading-anchor:not(:focus),
.entry-content h5:not(:hover) > .heading-anchor:not(:focus),
.entry-content h6:not(:hover) > .heading-anchor:not(:focus) {
  opacity: 0;
}

.entry-content hr + h2,
.entry-content hr + h3,
.entry-content hr + h4,
.entry-content hr + h5,
.entry-content hr + h6,
.entry-content h2 + h3,
.entry-content h3 + h4,
.entry-content h4 + h5,
.entry-content h5 + h6,
.entry-content ul h2,
.entry-content ul h3,
.entry-content ul h4,
.entry-content ul h5,
.entry-content ul h6,
.entry-content > h2:first-child,
.entry-content > h3:first-child,
.entry-content > h4:first-child,
.entry-content > h5:first-child,
.entry-content > h6:first-child,
.entry-content > h2:first-of-type,
.entry-content > h3:first-of-type,
.entry-content > h4:first-of-type,
.entry-content > h5:first-of-type,
.entry-content > h6:first-of-type {
  margin-top: 0;
}

h1 {
  font-size: 2.25em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.6em;
}

h5 {
  font-size: 1.45em;
}

h6 {
  font-size: 1.3em;
}

p,
ul,
ol {
  margin: 1em 0;
}

#content p {
  line-height: 1.6;
}

ul,
ol {
  padding: 0;
  padding-left: 2em;
  list-style-position: outside;
}

ul {
  list-style-type: disc;
}

li {
  margin: .5em 0;
}

blockquote {
  font-style: italic;
  padding: 5px;
  padding-left: 20px;
  margin: 1em 0;
  position: relative
}

blockquote::after {
  content: "";
  background-image: url(/images/watercolour-line-light-vertical.svg);
  position: absolute;
  width: 15px;
  height: 100%;
  top: 0;
  left: 0
}
blockquote.twitter-tweet::before {
  content: 'Tweet:';
  white-space: nowrap;
}
blockquote.twitter-tweet > *:first-child {
  margin-top: 0; /* remove gap after "Tweet:" text */
}

.avatar {
  width: 2em;
  border-radius: 0.25em;
  border: 2px solid #23242C;
}

@media (prefers-color-scheme: dark) {
  .avatar {
    border: 2px solid #fcfcfc;
  }
}

.fancy-title:hover > .emoji {
  text-shadow: 3px 2px 1px rgba(120,120,120,0.4);
}
@media (prefers-reduced-motion: no-preference) {
  .fancy-title > .emoji {
    transition: text-shadow 340ms;
  }
  .fancy-title:hover > .emoji {
    transition-duration: 110ms;
  }
}

#ipad-cursor-input {
  cursor: pointer;
  margin: 0 0.5em;
}

.highlight pre,
code,
kbd,
.monospace {
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
}
.highlight pre,
code {
  font-size: 85%;
}
code {
  background-color: rgba(27,31,35,0.05);
  padding: .2em .4em;
  border-radius: 3px;
}
pre.highlight {
  border-radius: 10px;
  margin: 1em 0;
  padding: 1em;
  line-height: 1.4;
  /* stop hidden scrollbars getting in the way regardless of rest of padding */
  padding-bottom: 1em;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
pre.highlight code {
  background-color: transparent;
  padding: 0;
  border-radius: 0;
}

details summary {
  cursor: pointer;
}

#share-fallback:not([hidden]) {
  margin: 0;
}

#share-fallback summary {
  display: inline-block;
}

#share-fallback summary::-webkit-details-marker {
  display: none;
}

#share-fallback ul {
  margin: 0;
  padding-left: 1em;
}

#share-fallback .icon {
  margin-right: 0.5em;
}

.flash {
  position: relative;
}
.flash::after {
  content: '';
  position: absolute;
  pointer-events: none;
  top: -2px;
  left: -4px;
  bottom: -2px;
  right: -4px;
  border-radius: 5px;
}
.flash::after,
#content :target:not(.photos-list-photo) {
  animation: flash 640ms ease-in-out alternate 2;
}

@keyframes flash {
  from {
    background-color: transparent;
  }
  to {
    background-color: #A80084;
  }
}

@media (prefers-color-scheme: dark) {
  @keyframes flash {
    from {
      background-color: transparent;
    }
    to {
      background-color: #FF80E8;
    }
  }
}

.posts-list {
  margin: 0;
}

.posts-list > li {
  word-break: break-word;
}

.posts-list .published {
  margin: 0;
}

.posts-list .post-link {
  display: block; /* without block display, :focus won't show at all */
}

.posts-list .post-title {
  margin-bottom: 0;
}

.post-image {
  display: block;
  border: 2px solid #23242C;
  height: 10em;
  width: 100%;
}
@media (prefers-color-scheme: dark) {
  .post-image {
    border-color: #DEDEDE;
  }
}

.image-from-url {
  object-fit: cover;
  object-position: left center;
}

.post-link:hover .image-from-url,
.post-link:hover .random-gradient {
  filter: saturate(1.2) brightness(1.10);
}
@media (prefers-color-scheme: dark) {
  .post-link:hover .image-from-url {
    /* Already reduced opacity in dark-mode before hovering, so no need for brightness increase. */
    filter: saturate(1.2);
  }
}

/*
1 #ffd0d2
2 #fffdd0
3 #d0fffd
4 #d0d2ff
*/
.random-gradient-0 {
  background-image: linear-gradient(141deg, #ffd0d2, #fffdd0);
}
.random-gradient-1 {
  background-image: linear-gradient(141deg, #ffd0d2, #d0fffd);
}
.random-gradient-2 {
  background-image: linear-gradient(141deg, #fffdd0, #ffd0d2);
}
.random-gradient-3 {
  background-image: linear-gradient(141deg, #fffdd0, #d0d2ff);
}
.random-gradient-4 {
  background-image: linear-gradient(141deg, #d0fffd, #ffd0d2);
}
.random-gradient-5 {
  background-image: linear-gradient(141deg, #d0fffd, #d0d2ff);
}
.random-gradient-6 {
  background-image: linear-gradient(141deg, #d0d2ff, #fffdd0);
}
.random-gradient-7 {
  background-image: linear-gradient(141deg, #d0d2ff, #d0fffd);
}

@media (prefers-color-scheme: dark) {
  .random-gradient-0 {
    background-image: linear-gradient(141deg, #962d48, #e08f0b);
  }
  .random-gradient-1 {
    background-image: linear-gradient(141deg, #3b9e02, #0579a7);
  }
  .random-gradient-2 {
    background-image: linear-gradient(141deg, #e08f0b, #962d48);
  }
  .random-gradient-3 {
    background-image: linear-gradient(141deg, #e08f0b, #4147b4);
  }
  .random-gradient-4 {
    background-image: linear-gradient(141deg, #0579a7, #3b9e02);
  }
  .random-gradient-5 {
    background-image: linear-gradient(141deg, #0579a7, #4147b4);
  }
  .random-gradient-6 {
    background-image: linear-gradient(141deg, #4147b4, #e08f0b);
  }
  .random-gradient-7 {
    background-image: linear-gradient(141deg, #4147b4, #0579a7);
  }
}

.posts-list.side-by-side {
  justify-content: center;
}
.posts-list.side-by-side li {
  max-width: 600px;
}
@media screen and (min-width: 1024px) {
  .posts-list.side-by-side {
    justify-content: initial;
  }
}

.posts-list.side-by-side.minimal {
  justify-content: initial;
}
.posts-list.side-by-side.minimal li {
  max-width: 450px;
}

.secret {
  opacity: 0;
  transition: opacity 240ms ease-in-out;
}
.secret:hover,
.secret:focus {
  opacity: 1;
}

/* Photos */

.photos-list-item {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 1024px) {
  .photos-list-item {
    flex: 1 1 320px;
  }
}

.photos-list-photo {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  position: relative;
  background-color: white;
  padding: 2.5em;
}
@media (prefers-color-scheme: dark) {
  .photos-list-photo:not(:hover):not(:focus) {
    background-color: rgba(255,255,255,0.7);
  }
}

.photos-list-photo:hover img,
.photos-list-photo:focus img {
  opacity: 0.3;
}

.photos-list-photo:hover .action-text,
.photos-list-photo:focus .action-text {
  color: black;
  font-family: 'Dancing Script';
  font-weight: bold;
  font-size: 4.5em;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  z-index: 1;
  pointer-events: none;
}

.photos-list-photo img {
  object-fit: contain;
  object-position: center;
  display: block;
}

.photos-gallery {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: black;
  z-index: 2;
  overflow: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.photos-gallery .controls {
  background-color: white;
  color: black;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
}

.photos-gallery:not(.show-controls) .controls {
  display: none;
}

.photos-gallery .controls button {
  background-color: transparent;
  appearance: none;
  border: none;
  padding: 0;
  margin: 5px;
  box-shadow: none;
  height: 50px;
  width: 50px;
  font-size: 50px;
  cursor: pointer;
}

.photos-gallery .controls button:not(.fas, .fab) {
  text-align: center;
  line-height: 0;
  font-family: 'Bilbo';
}

.photos-gallery .controls button:hover {
  transform: scale(1.2);
}

.photos-gallery .original-link {
  color: white;
  font-family: 'Dancing Script';
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  display: block;
  margin-top: 0.7em;
  margin-bottom: 1em;
  -webkit-text-decoration-skip: none;
}

.photos-gallery img {
  display: block;
  background-color: white;
  padding: 5vw;
  max-height: 100vh;
  width: 100vw;
  cursor: pointer;
  object-fit: contain;
  object-position: center;
  margin: auto;
}
@media (prefers-color-scheme: dark) {
  .photos-gallery img {
    background-color: black;
  }
}

.photos-gallery.viewmax {
  display: block;
}

.photos-gallery.viewmax img {
  padding: 0;
  height: auto;
  width: auto;
  min-height: 100vh;
  min-width: 100vw;
  max-height: none;
  max-width: none;
}

.photos-gallery.viewmax .original-link {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.photos-gallery.viewmax .original-link:not(:focus) {
  opacity: 0;
  pointer-events: none;
}

.photos-gallery.viewmax .controls button {
  text-shadow: 0 1px 0 white, 0 0 1px white;
}

.photos-gallery.animate-closing-down,
.photos-gallery.animate-closing-up {
  animation: fade-out 300ms ease forwards;
}
@media (prefers-reduced-motion: no-preference) {
  .photos-gallery.animate-closing-down {
    animation: closing-down 300ms ease forwards;
  }
  .photos-gallery.animate-closing-up {
    animation: closing-up 300ms ease forwards;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes closing-down {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}
@keyframes closing-up {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

/* Icon backups in case FontAwesome isn't available */
.fa-home::before {
  content: 'Home';
}
.fa-pencil-alt::before {
  content: 'Writing';
}
.fa-github::before {
  content: 'GitHub';
}
.fa-twitter::before {
  content: 'Twitter';
}
.fa-facebook::before {
  content: 'Facebook';
}
.fa-music::before {
  content: 'Music';
}
.fa-camera::before {
  content: 'Photos';
}
.fa-linkedin::before {
  content: 'Linkedin';
}
.fa-long-arrow-alt-up::before {
  content: '↑';
}
.fa-long-arrow-alt-left::before {
  content: '←';
}
.fa-vuejs::before {
  content: 'VueJS';
}
.fa-expand::before {
  content: 'Expand';
}
.fa-times::before {
  content: 'Close';
}
.fa-compress::before {
  content: 'Compress';
}
