---
---
@import 'variables';
@import 'accessibility';

a[href^="#ft-"],
a[href^="#footnote-"] {
  margin-left: 0.125em;
  margin-right: 0.25em;
}

@import 'reset';

body {
  background-color: $bg-colour-light;
  color: $text-colour-dark;
  font-size: 100%;
  font-weight: 400;
  font-style: normal;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  padding: 1em;
  position: relative;
}

@media screen and (min-width: $space-for-sidebar-px) {
  body {
    padding: 2em;
  }
}

body::before {
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: url(/images/white-paper-texture-with-flecks.jpg) repeat;
  background-size: contain;
  opacity: 0.2;
  z-index: -1;
  pointer-events: none;
}

#body-inner {
  background: url(/images/journal-dots.svg) space 0 0;
  background-size: 20px;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: $bg-colour-dark;
    color: $text-colour-light;
  }
  body::before {
    opacity: 0.7;
    filter: invert(1) brightness(0.7) contrast(1.1);
  }
  #body-inner {
    background-image: url(/images/journal-dots-light.svg);
  }
  // Darken images since they can have block-white colours.
  .content-post img:not(:hover):not(:focus),
  .posts-list a:not(:hover) img {
    opacity: 0.7;
  }
}

@import 'links';

.icon {
  margin: 0 0.125em;
  text-align: left;
}

@import 'lists';
@import 'header';
@import 'content';
@import 'footer';
@import 'typography';
@import 'posts';
@import 'photos';
@import 'share_fallback';

.avatar {
  width: 2em;
  border-radius: 0.25em;
  border: 2px solid #23242C;
}

@media (prefers-color-scheme: dark) {
  .avatar {
    border: 2px solid #fcfcfc;
  }
}

#ipad-cursor-input {
  cursor: pointer;
  margin: 0 0.5em;
}

.flash {
  position: relative;
}
.flash::after {
  content: '';
  position: absolute;
  pointer-events: none;
  top: -2px;
  left: -4px;
  bottom: -2px;
  right: -4px;
  border-radius: 5px;
}
.flash::after,
#content :target:not(.photos-list-photo) {
  animation: flash 640ms ease-in-out alternate 2;
}

@keyframes flash {
  from {
    background-color: transparent;
  }
  to {
    background-color: $highlight-dark;
  }
}

@media (prefers-color-scheme: dark) {
  @keyframes flash {
    from {
      background-color: transparent;
    }
    to {
      background-color: $highlight-light;
    }
  }
}

.secret {
  opacity: 0;
  transition: opacity 240ms ease-in-out;
}
.secret:hover,
.secret:focus {
  opacity: 1;
}

/* Icon backups in case FontAwesome isn't available */
.fa-home::before {
  content: 'Home';
}
.fa-pencil-alt::before {
  content: 'Writing';
}
.fa-github::before {
  content: 'GitHub';
}
.fa-twitter::before {
  content: 'Twitter';
}
.fa-facebook::before {
  content: 'Facebook';
}
.fa-music::before {
  content: 'Music';
}
.fa-camera::before {
  content: 'Photos';
}
.fa-linkedin::before {
  content: 'Linkedin';
}
.fa-long-arrow-alt-up::before {
  content: '↑';
}
.fa-long-arrow-alt-left::before {
  content: '←';
}
.fa-vuejs::before {
  content: 'VueJS';
}
.fa-expand::before {
  content: 'Expand';
}
.fa-times::before {
  content: 'Close';
}
.fa-compress::before {
  content: 'Compress';
}
