.posts {
  margin: 0;
}

.posts hr {
  margin: 3em auto;
  border: none;
  border-top: 2px dashed;
  max-width: 2em;
  opacity: 0.3;
}

.posts > li {
  word-break: break-word;
}
.posts > li:not(:last-child) {
  margin-bottom: 2em;
}

.posts .published {
  margin: 0 0 1em;
}

.posts h2,
.posts h3 {
  margin-bottom: 0;
}

.empty {
  font-size: 2em;
}
