#power-washer-wrapper {
  pointer-events: none;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  height: auto;
  width: auto;
}

#power-washer {
  font-size: 3rem;
  transform: translate(-50%, -50%);
}

#power-washer[hidden] {
  opacity: 0;
  transition-duration: 400ms;
}

@media (prefers-color-scheme: dark) {
  #power-washer {
    fill: #8CB1D4;
  }
}
