defaults:
  - scope:
      path: ""
    values:
      layout: default
  - scope:
      path: "images/albums/*/*.jpg"
    values:
      album_image: true
  - scope:
      path: "images/albums/*/*"
    values:
      album_image_resolution: true

title: Henry James Blyth's World Wide Web Portal
description: A collection of silly things and CSS trims in an attempt to provide a joyful and pretty visit.
url: https://henryblyth.com
permalink: /:year/:month/:day/:title

compress_html:
  clippings: all
markdown: kramdown
kramdown:
  input: GFM
  hard_wrap: true
  gfm_quirks: [paragraph_end, no_auto_typographic]
plugins:
  # Enable all default GitHub Pages plugins so local dev is exactly like live.
  - jekyll-github-metadata
  - jekyll-coffeescript
  - jekyll-default-layout
  - jekyll-gist
  - jekyll-github-metadata
  - jekyll-optional-front-matter
  - jekyll-paginate
  - jekyll-readme-index
  - jekyll-titles-from-headings
  - jekyll-relative-links
  # Add other allowed dependencies here: see https://pages.github.com/versions/
  - jekyll-feed
exclude:
  - Gemfile*
  - bower.json
  - Makefile
  - lib/bundle
  - node_modules
  - package*.json
  - jsconfig.json
  - rougify.rb
  - "*.ts"
  - "*.sh"
