.button {
    background-color: #EDEDE7;
    border: 1px solid #593723;
    -moz-box-shadow: 0 10px 0 0 #593723, 0 10px 15px 2px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0 10px 0 0 #593723, 0 10px 15px 2px rgba(0, 0, 0, 0.8);
    box-shadow: 0 10px 0 0 #593723, 0 10px 15px 2px rgba(0, 0, 0, 0.8);
    color: #593723;
    display: block;
    padding: 10px;
    position: relative;
    top: 0;
    text-decoration: none;
    width: 120px;
}
.button:hover, .button:focus {
    -moz-box-shadow: 0 2px 0 0 #593723, 0 2px 2px 1px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0 2px 0 0 #593723, 0 2px 2px 1px rgba(0, 0, 0, 0.8);
    box-shadow: 0 2px 0 0 #593723, 0 2px 2px 1px rgba(0, 0, 0, 0.8);
    top: 8px;
}
.button:active {
    -moz-box-shadow: inset 0 2px 2px 1px #593723, 0 0 0 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 2px 2px 1px #593723, 0 0 0 0 rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 2px 2px 1px #593723, 0 0 0 0 rgba(0, 0, 0, 0.1);
    top: 10px;
}
.not-jumpy:before {
    content: '';
    background-color: transparent;
    display: block;
    position: absolute;
    bottom: 100%;
    left: 0;
    height: 0;
    width: 100%;
}
.not-jumpy:hover:before, .not-jumpy:focus:before, .not-jumpy:active:before {
    border: 1px solid transparent;
    left: -1px;
}
.not-jumpy:hover:before, .not-jumpy:focus:before {
    height: 8px;
}
.not-jumpy:active:before {
    height: 10px;
}
.show-hit-area:before {
    background-color: #000;
}
.animated {
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
}
.animated:active {
    -webkit-transition: all 0s ease;
    -moz-transition: all 0s ease;
    -ms-transition: all 0s ease;
    -o-transition: all 0s ease;
    transition: all 0s ease;
}
