---
title: Henry Blyth
subtitle: Web developer and Pianist
headTitle: Web developer and Pianist
class: home
---
<ul class="links">
    {% for post in site.posts limit:1 %}
        <li>{% include link.html pre="Latest post:" title=post.title url=post.url class="latest" %}</li>
    {% endfor %}
    {% for link in site.data.links %}
        {% unless link.hidden == true %}
            <li>{% include link.html title=link.title icon=link.icon url=link.url %}</li>
        {% endunless %}
    {% endfor %}
</ul>
