body {
    background-color: #B9B79E;
    color: #2C241D;
    font-family: "PT Sans", Arial;
    font-size: 100%;
    font-weight: normal;
    line-height: 1.4;
    margin: 0;
}
code, pre {
    background-color: #EDEDE7;
    color: #2C241D;
}
code {
    display: inline-block;
    padding: 0 0.5em;
}
pre {
    padding: 1em;
}
a {
    color: inherit;
    border-bottom: 1px solid;
    text-decoration: none;
}
a:hover,
a:focus {
    border-bottom-color: transparent;
}
h1 a, h2 a, h3 a, .links a {
    border-bottom-width: 2px;
}
.title, .subtitle, .button, .talks {
    /*font-family: "Arvo";*/
    text-align: center;
}
.title, .subtitle {
    margin-top: 1em;
    text-transform: uppercase;
}
.title {
    letter-spacing: 1em;
}
.subtitle {
    letter-spacing: 0.4em;
}
.button {
    cursor: pointer;
    font-size: 1.3em;
    line-height: 1.3em;
    margin: 0 auto 2.5em;
}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clearfix {
    display: inline-block;
}
.link {
    font-size: 2em;
    line-height: 1;
    margin: 1em 0 0 -32px;
    text-align: center;
}
.link:first-child {
    margin-top: 0;
}
.link img {
    vertical-align: middle;
}
.link a {
    display: inline-block;
}
.talks {
    margin-top: 2.5em;
}
.markdown-content {
    background-color: #593723;
    border: 2px solid #EDEDE7;
    -moz-box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.3);
    color: #EDEDE7;
    font-family: Arvo;
    line-height: 1.6;
    margin: 0 auto;
    min-width: 600px;
    padding: 3em;
    text-align: justify;
    width: 60%;
}
.markdown-content h2,
.markdown-content h3 {
    margin-top: 2em;
    text-align: center;
}
.markdown-content h2:first-child,
.markdown-content h3:first-child {
    margin-top: 0;
}
