<li class="link {{ include.class }} {{ include.title | slugify }} {% unless include.title %}no-title{% endunless %} {% unless include.icon %}no-icon{% endunless %} {% if include.highlight %}highlight{% endif %}">
    {% if include.pre %}
        <span class="pre">{{ include.pre }}</span>
    {% endif %}
    <a href="{{ include.url }}">
        {% if include.icon %}
            <i class="fa fa-{{ include.icon }}"></i>
        {% endif %}
        {% if include.title %}
            <span class="title">{{ include.title }}</span>
        {% else %}
            <span class="screenreader">{{ include.icon | slugify }}</span>
        {% endif %}
    </a>
    {% if include.post %}
        <span class="post">{{ include.post }}</span>
    {% endif %}
</li>
