{% assign title_element = include.title_element or nil %}

{%- comment -%} icon and title must be next to each other without whitespace {%- endcomment -%}

{% if include.icon %}
  {% capture icon %}<i class="icon {{ include.icon }}" aria-hidden="true"></i>{% endcapture %}
{% endif %}

<a id="{{ include.id }}" class="{{ include.class }}" href="{{ include.url }}"
  {% if include.relme %}rel="me"{% endif %}
  {% if include.hide_title == true %}title="{{include.title}}"{% endif %}
>
  {% if include.hide_title == true %}
    {{ icon }}<span class="sr-only">{{ include.title }}</span>
  {% elsif title_element %}
    <{{title_element}}>{{ icon }}{{ include.title }}</{{title_element}}>
  {% else %}
    {{ icon }}{{ include.title }}
  {% endif %}
</a>
