<script>
  (function(){
    if (!localStorage.getItem('gh_token')) {
      return;
    }

    addScript('https://cdn.jsdelivr.net/npm/marked/marked.min.js', null, function () {
        window.marked.setOptions({
          gfm: true // github-flavoured markdown
        });

        // Fix code highlighting after editing.
        var oldMarked = window.marked;
        window.marked = function (s) {
          var holder = document.createElement('div');
          holder.innerHTML = oldMarked(s);
          holder.querySelectorAll('pre').forEach(function (el) {
            el.classList.add('highlight');
          });
          return holder.innerHTML;
        };
    });

    addScript('/admin/post-admin.js', 'module');
    addStyle('/admin/admin.css');

    addScript('https://cemerick.github.io/jsdifflib/diffview.js');
    addScript('https://cemerick.github.io/jsdifflib/difflib.js');
    addStyle('https://cemerick.github.io/jsdifflib/diffview.css');

    var filepath = new URLSearchParams(location.search).get('filepath') || '{{page.path}}';
    console.log('filepath', filepath);
    if (filepath.includes('admin/edit.html')) {
      alert('Not allowed to edit /admin/edit.html');
      window.location = '/admin';
      return;
    }

    window.github_data = {
      build_revision: '{{site.github.build_revision}}',
      source_branch: '{{site.github.source.branch}}',
      page_path: filepath
    };

    function addScript(src, type, onload) {
      var script = document.createElement('script');
      script.src = src;
      script.async = false;
      if (type) {
        script.type = type;
      }
      if (typeof onload === 'function') {
        script.onload = onload;
      }
      document.body.appendChild(script);
    }

    function addStyle(href) {
      var link = document.createElement('link');
      link.rel = 'stylesheet';
      link.href = href;
      document.head.appendChild(link);
    }
  }());
</script>
