{% if include.posts.size > 0 %}
  <ul class="list-reset posts-list side-by-side {%if include.minimal%}minimal{%endif%}">
    {% assign posts = include.posts|where_exp:"post", "post.hidden != true" %}
    {% if include.sample %}{% assign posts = posts|sample:include.sample %}{% endif %}
    {% for post in posts %}
      <li>
        <article>
          {% include published-date.html context=post %}

          <a href="{{post.url}}" class="post-link">
            {% capture title_html %}
              <{{include.heading_element}} class="post-title">{{post.title|markdownify|remove:'<p>'|remove:'</p>'}}</{{include.heading_element}}>
            {% endcapture %}

            {% if include.minimal %}
              {{title_html}}
            {% else %}
              {% if post.image %}
                <img class="post-image image-from-url" src="{{post.image}}" alt="{{post.image_alt}}">
              {% else %}
                <div class="post-image random-gradient random-gradient-{{forloop.index0|modulo:8}}"></div>
              {% endif %}
              {{title_html}}
            {% endif %}
          </a>

          {% unless include.minimal %}
            <div class="excerpt">
              {% if post.subtitle %}{{post.subtitle|markdownify}}{% endif %}
              <p>
                {% assign excerpt = post.content|markdownify|strip_html|truncatewords:20,"" %}
                {{ excerpt }}
                {% if excerpt != post.content %}&hellip; <a href="{{post.url}}"><em>read more <span class="sr-only">about {{post.title}}</span></em></a>{% endif %}
              </p>
            </div>
          {% endunless %}
        </article>
      </li>
    {% endfor %}
  </ul>
{% endif %}
