{% if include.posts.size > 0 %}
  <ul class="list-reset posts side-by-side">
    {% assign posts = include.posts|where_exp:"post", "post.hidden != true" %}
    {% if include.sample %}{% assign posts = posts|sample:include.sample %}{% endif %}
    {% for post in posts %}
      <li class="{%if include.minimal%}minimal{%endif%}">
        {% include published-date.html context=post %}

        <a class="post-title" href="{{post.url}}">
          {% capture title_html %}
            <h2>{{post.title|markdownify|remove:'<p>'|remove:'</p>'}}</h2>
          {% endcapture %}

          {% if include.minimal %}
            {{title_html}}
          {% else %}
            <figure>
              {% if post.image %}
                <div class="post-image image-from-url" style="background-image: url({{post.image}});"></div>
              {% else %}
                <div class="post-image random-gradient random-gradient-{{forloop.index0|modulo:8}}"></div>
              {% endif %}
              <figcaption>{{title_html}}</figcaption>
            </figure>
          {% endif %}
        </a>

        <div class="excerpt">
          {% if post.subtitle %}{{post.subtitle|markdownify}}{% endif %}
          <p>
            {% assign excerpt = post.excerpt|truncatewords:20,"" %}
            {{ excerpt|strip_html }}
            {% if excerpt != post.content %}&hellip; <a href="{{post.url}}"><em>read more</em></a>{% endif %}
          </p>
        </div>
      </li>
    {% endfor %}
  </ul>
{% endif %}
