{% if include.posts.size > 0 %}
  <ul class="list-reset posts-list {%if include.minimal%}minimal{%endif%}">
    {% assign posts = include.posts|where_exp:"post", "post.hidden != true" %}
    {% if include.sample %}{% assign posts = posts|sample:include.sample %}{% endif %}
    {% for post in posts %}
      <li class="{%if forloop.first%}first{%endif%}">
        <article>
          {% assign post_title_text = post.title|markdownify|remove:'<p>'|remove:'</p>' %}
          <a href="{{post.url}}" class="post-title-link" aria-label="{{post_title_text}}">
            <{{include.heading_element}} class="post-title">{{post_title_text}}</{{include.heading_element}}>

            {% if post.image && !include.minimal %}
              {% if post.sensitive_image %}
                <div class="sensitive-cover post-image">
                  <img class="sensitive-image image-from-url" src="{{post.image}}" alt="{{post.image_alt}}">
                  <i class="icon fas fa-eye sensitive-eye" aria-label="Hover to show sensitive image"></i>
                </div>
              {% else %}
                <img class="post-image image-from-url" src="{{post.image}}" alt="{{post.image_alt}}">
              {% endif %}
            {% endif %}

            <div class="regular-text">
              {% include published-date.html context=post %}

              {% unless include.minimal %}
                <div class="excerpt">
                  {% if post.subtitle %}{{post.subtitle|markdownify}}{% endif %}
                  {% assign excerpt = post.excerpt %}
                  {{ excerpt|strip_html }}
                  {% if excerpt != post.content %}<p><em class="can-be-link">read more</em></p>{% endif %}
                </div>
              {% endunless %}
            </div>
          </a>
        </article>
      </li>
    {% endfor %}
  </ul>
{% endif %}
