<link rel=preload as=image href="/images/watercolour-circle-light.svg">
<link rel=preload as=image href="/images/logo-light.svg" media="(prefers-color-scheme: dark)">
<link rel=preload as=image href="/images/logo-dark.svg" media="not (prefers-color-scheme: dark)">
<link rel=preload as=font href="/fonts/dancing-script-v24-latin-700.woff2">
<link rel=preload as=font href="/fonts/dancing-script-v24-latin-700.woff">
<link rel=preload as=font href="/fonts/eb-garamond-v26-latin-regular.woff2">
<link rel=preload as=font href="/fonts/eb-garamond-v26-latin-regular.woff">
<link rel=preload as=font href="/fonts/eb-garamond-v26-latin-700.woff2">
<link rel=preload as=font href="/fonts/eb-garamond-v26-latin-700.woff">
<link rel=preload as=font href="/fonts/eb-garamond-v26-latin-italic.woff2">
<link rel=preload as=font href="/fonts/eb-garamond-v26-latin-italic.woff">
<link rel=preload as=font href="/fonts/eb-garamond-v26-latin-700italic.woff2">
<link rel=preload as=font href="/fonts/eb-garamond-v26-latin-700italic.woff">
<link rel=preload as=font href="/fonts/merriweather/Merriweather-Regular.otf">
<link rel=preload as=font href="/fonts/merriweather/Merriweather-Bold.otf">
<link rel=preload as=font href="/fonts/merriweather/Merriweather-Italic.otf">
<link rel=preload as=font href="/fonts/merriweather/Merriweather-BoldItalic.otf">
<link rel=preload as=font href="/fonts/gentium-book-basic-v16-latin-700.woff2">
<link rel=preload as=font href="/fonts/gentium-book-basic-v16-latin-700.woff">
