{% if include.context.date %}
  {% capture published %}<span class="sr-only">Published </span><time class="dt-published" datetime="{{ include.context.date|date:"%Y-%m-%d" }}">{{ include.context.date | date_to_long_string }}</time>{% endcapture %}
{% endif %}
{% if include.context.updates %}
  {% assign last_update = include.context.updates|sort:"date"|last %}
{% endif %}
{% if last_update %}
  {% capture published %}{{published}} &ndash; last updated <time class="dt-updated" datetime="{{ last_update.date }}">{{ last_update.date | date_to_long_string }}</time>{% endcapture %}
  {% if include.show_update_skip %}
    {% capture published %}{{published}} &ndash; <a href="#updates">skip to updates</a>{% endcapture %}
  {% endif %}
{% endif %}
{% if published %}
  <p class="published"><em><small>{{published}}</small></em></p>
{% endif %}
{%- comment -%} reset else it will repeat over multiple includes {%- endcomment -%}
{% assign published = nil %}
{% assign last_update = nil %}
