{% capture view_history_url %}{{site.github.repository_url}}/commits/{{site.github.source.branch}}/{{page.path}}{% endcapture %}

<nav id="share-section" aria-labelledby="sharenav-heading">
  <h2 id="sharenav-heading" class="fancy-title emoji-on-the-left">Share and respond <span class="emoji">💬</span></h2>
  <ul class="list-reset">
    {% for synd_hash in page.syndications %}
      {% if synd_hash[1] == nil or synd_hash[1] == '' %}{% continue %}{% endif %}
      {% capture title %}Reply on {{synd_hash[0]|capitalize}}{% endcapture %}
      {% capture icon %}fab fa-{{synd_hash[0]}}{% endcapture %}
      {% assign url = synd_hash[1] %}
      <li>
      {% include link.html class="u-syndication" title=title icon=icon url=url %}
      </li>
    {% endfor %}

    <li>
    {% include link.html title_element="button" id="share_me_link" title="Share" icon="fas fa-share-square" url="javascript:shareMe()" %}
    </li>

    <li>
    {% include link.html title="View history" icon="fas fa-history" url=view_history_url %}
    </li>
  </ul>
</nav>

<details hidden id="share-fallback">
  <summary></summary>
  <ul class="list-reset">
    {% capture page_url %}{{site.url}}{{page.url}}{% endcapture %}
    {% capture text %}{{page.title}} by @henrahmagix{% endcapture %}

    {% capture tweet_url %}https://twitter.com/intent/tweet?url={{page_url|url_encode}}&text={{text|url_encode}}{% endcapture %}
    {% capture fb_url %}https://www.facebook.com/sharer/sharer.php?u={{page_url|url_encode}}{% endcapture %}
    {% capture linkedin_url %}https://www.linkedin.com/shareArticle?url={{page_url|url_encode}}{% endcapture %}

    <li>
    {% include link.html title="Twitter" icon="fab fa-twitter" url=tweet_url %}
    </li>
    <li>
    {% include link.html title="Facebook" icon="fab fa-facebook" url=fb_url %}
    </li>
    <li>
    {% include link.html title="LinkedIn" icon="fab fa-linkedin" url=linkedin_url %}
    </li>
  </ul>
</details>

<script>
(function(){
  if (!navigator.share) {
    var shareFallback = document.getElementById('share-fallback');
    shareFallback.hidden = false;

    var shareLink = document.getElementById('share_me_link');
    var shareFallbackSummary = shareFallback.querySelector('summary');
    shareLink.querySelector('button').childNodes.forEach(function (node) {
      shareFallbackSummary.appendChild(node.cloneNode(true));
    });

    shareLink.parentNode.replaceChild(shareFallback, shareLink);
    return;
  }

  window.shareMe = function() {
    var canonical = document.querySelector('link[rel=canonical]');
    navigator.share({
      title: document.title,
      url: canonical ? canonical.href : document.location.href,
    });
  }
}());
</script>
