.links
    a
        text-decoration: none
        .title
            text-decoration: underline
        @include hover
            .title
                text-decoration: none

.link
    list-style: none !important

    i,
    .title
        display: inline-block

    a
        color: $link-color
        @include hover
            color: $link-hover-color

    &.highlight
        a
            color: $link-hover-color
        &.no-title
            a
                @include hover
                    color: $link-color

    &.home
        font-size: 2em
