.list-reset {
  list-style: none !important;
  padding: 0;
}

.inline-list {
  margin: 0;
}

.inline-list li {
  display: inline-block;
}

.inline-list li:not(:first-child)::before {
  content: '•';
  margin-left: 0.5em;
  margin-right: 0.5em;
  display: inline-block;
  vertical-align: middle;
}

.inline-list.inline-to-prev {
  display: inline-block;
  padding: 0;
  margin-left: 1em;
}
