.page-doubles

    img,
    canvas
        margin: 0.5em auto
        height: auto

    img
        width: 50%

    canvas
        max-width: 100%

    .options li
        display: inline-block
        margin:
            top: 0.2em
            bottom: 0.2em
            right: 0.5em
        list-style: none

    button
        font:
            size: 1em
        cursor: pointer

    .hidden
        display: none
