.page-doubles

    img,
    canvas
        margin: 0.5em auto
        height: auto

    img
        width: 50%

    canvas
        max-width: 100%

    .form-wrapper
        background-color: $alt-color
        padding: 15px
        color: $main-color
        button
            background-color: $main-color
            color: $alt-color

    .options li
        list-style: none

    input
        vertical-align: middle

    button
        font:
            size: 1em
        cursor: pointer

    .hidden
        display: none
