.page-post

    .links
        padding: 0
        &.position-top
            margin-bottom: 1em
        &.position-bottom
            margin-top: 1em

.page-posts

    .posts
        a
            font-size: 2em
        .excerpt
            display: block
            clear: both

    .empty
        font-size: 2em
