.page-home

    .page-body

        .link
            $home-icon-width: 1.5em
            display: block
            font-size: 2em
            line-height: 1
            margin: 1em 0
            text-align: left

            .fa
                float: left
                min-width: $home-icon-width

            &.no-icon
                margin:
                    left: $home-icon-width

    .page-footer
        .links
            display: none
