.links
    a
        text-decoration: none
        span
            text-decoration: underline
        @include hover
            span
                text-decoration: none

.link
    font-size: 2em
    line-height: 1
    margin: 0
        top: 1em
    text-align: left

    &:first-child
        margin-top: 0

    span,
    img
        display: inline-block
        vertical-align: middle

    img
        padding: 2px
    &.no-icon img
        visibility: hidden

    &.github img,
    &.linkedin img
        @include border-radius(100%)
        background-color: #eee

    &.twitter img
        margin:
            left: -8px
            right: -8px
