.page-body

    h1,
    h2,
    h3,
    h4,
    h5,
    h6
        font:
            weight: bold
        margin: 0
            top: 10px
    h1
        font:
            size: 2em
    h2
        font:
            size: 1.75em
    h3
        font:
            size: 1.6em
    h4
        font:
            size: 1.4em
    h5
        font:
            size: 1.3em
    h6
        font:
            size: 1.2em

    p,
    ul
        margin: 1em 0
        padding: 0

    li
        margin: 0.5em 0
        list-style:
            type: disc
            position: inside

    blockquote
        font-style: italic
        padding: 5px
            left: 20px
        margin: 10px 0
        position: relative
        &:before
            content: ''
            background-color: $alt-color
            position: absolute
            width: 10px
            height: 100%
            top: 0
            left: 0
