$bg-colour-light: rgb(255, 254, 249);
$bg-colour-dark: rgb(3, 7, 33);

$white: #EEEEEE;
$whitest: #fcfcfc;
$black: #23242C;

$text-colour-light: $white;
$text-colour-light-bold: $whitest;
$text-colour-dark: $black;

$highlight-dark: #A80084;
$highlight-light: #FF80E8;

$space-for-sidebar-px: 1024px;
$focus-outline-width: 0.3125em;

$font-family-serif-text: 'EB Garamond', serif;
$font-family-serif-title: 'Gentium Basic', serif;
$font-family-cursive-title: 'Bilbo', cursive;
$font-family-cursive-largest: 'Dancing Script', cursive;
$font-family-code: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
