html,
body
    margin: 0
    padding: 0

html,
body,
.wrapper,
.inner
    height: 100%
    width: auto

body
    background-color: #252525
    color: #eee
    font:
        family: "PT Sans", serif
        size: 100%
        weight: normal
    line-height: 1.4
    @include font-smoothing

a
    color: inherit
    text-decoration: underline

    @include hover
        text-decoration: none

.wrapper
    display: table
    width: 100%

.inner
    display: table-cell
    padding: 5% 15%
    .page-home &
        vertical-align: middle

.page-title,
.page-content
    padding: 5% 0

.page-title,
.page-subtitle
    text-align: right

.page-title
    font-size: 3em
    line-height: 1
    border-top: 1px solid
    padding-bottom: 0

.page-subtitle
    font:
        size: 1.5em

.page-content
    border-bottom: 1px solid
    padding-top: 0

// >600px wide
@include media("screen and (min-width: 600px)")
    body
        font-size: 16px

// Up to 600px
@include media("screen and (max-width: 600px)")
    body
        font-size: 14px
    .inner
        padding: 5% 10%

// Up to 530px
@include media("screen and (max-width: 530px)")
    body
        font-size: 12px

// Up to 420px
@include media("screen and (max-width: 420px)")
    body
        font-size: 10px
    .inner
        padding: 2% 5%

@-ms-viewport
    width: device-width
