html,
body
    margin: 0
    padding: 0

html,
body,
.wrapper,
.inner
    height: 100%
    width: auto

body
    background-color: $bg-color
    color: $text-color
    font:
        family: "PT Sans", serif
        size: 100%
        weight: normal
    line-height: 1.4
    @include font-smoothing

a
    color: inherit
    text-decoration: underline

    @include hover
        text-decoration: none

.wrapper
    display: table
    width: 100%

.inner
    display: table-cell
    padding: $site-padding-y $site-padding-x
    .page-home &
        vertical-align: middle

.page-header,
.page-footer
    padding: $site-padding-y 0

.page-header
    @include border-radius($separator-width)
    border-top: $separator

.page-footer
    @include border-radius($separator-curl)
    border-bottom: $separator
    padding-bottom: $separator-curl

.page-title,
.page-subtitle
    text-align: right

.page-title
    color: $highlight-color
    font-size: 3em
    line-height: 1

.page-subtitle
    font:
        size: 1.5em

.highlight
    color: $highlight-color

.page-footer
    position: relative

    .contact,
    .links
        position: absolute
        bottom: 0
    .contact
        left: 0
        padding-left: $separator-curl
        margin-bottom: 5px
        .first
            margin-right: 5px
    .links
        right: 0
        padding-right: $separator-curl
        text-align: right
    .link
        display: inline-block
        vertical-align: middle
        margin-left: 5px
        font-size: 2em

// >600px wide
@include media("screen and (min-width: 600px)")
    body
        font-size: 16px

// Up to 600px
@include media("screen and (max-width: 600px)")
    body
        font-size: 14px
    .inner
        padding: $site-padding-y ($site-padding-x / 1.5)

// Up to 530px
@include media("screen and (max-width: 530px)")
    body
        font-size: 12px

// Up to 420px
@include media("screen and (max-width: 420px)")
    body
        font-size: 10px
    .inner
        padding: ($site-padding-y / 1.5) ($site-padding-x / 3)

@-ms-viewport
    width: device-width
