html,
body
    margin: 0
    padding: 0

body
    background-color: $bg-color
    color: $text-color
    font:
        family: "PT Sans", serif
        size: 100%
        weight: normal
    line-height: 1.4
    padding: $site-padding-y $site-padding-x
    @include font-smoothing

a
    color: inherit
    text-decoration: underline

    @include hover
        text-decoration: none

.page-header
    .logo
        display: block
        margin: auto
        width: 200px
    .name-wrapper
        display: flex
        align-items: center
        line-height: 1
        margin: 0 (-$site-padding-x)
        &::before,
        &::after
            content: ''
            display: block
            height: 1px
            flex: 1
            background-color: $text-color
        &::before
            margin-right: 10px
        &::after
            margin-left: 10px
    h1
        font:
            size: inherit
            weight: normal
        margin: 0
    .p-name
        display: block
        font:
            size: 2em
            family: "PT Sans Narrow", serif
        margin: 20px 0
        text-align: center
        text-transform: uppercase
        text-decoration: none
        @include hover
            text-decoration: underline

.page-title,
.page-subtitle
    text-align: right

.page-title
    color: $highlight-color
    font-size: 3em
    line-height: 1

.page-subtitle
    font:
        size: 1.5em

.highlight
    color: $highlight-color

.page-footer
    .contact
        padding-left: $separator-curl * 0.8
        margin-bottom: 5px
        .first
            margin-right: 5px
    .links
        margin: 1em 0
        padding: 0
        text-align: center
    .link
        display: inline-block
        vertical-align: middle
        margin: 0 5px
        font-size: 2em

@-ms-viewport
    width: device-width
