---
section: Blog
---

<style>
ul.posts {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1em;
  margin-right: -1em;
}

ul.posts li {
  flex-basis: 20em;
  padding: 1em;
  flex-grow: 1;
  word-break: break-word;
}

/* Empty item to ensure even total so last item doesn't stretch full width */
ul.posts.odd::after {
  content: '';
  display: block;
  width: 50%;
}

ul.posts li > a {
  font-size: 1.6em;
}

ul.posts .excerpt {
  display: block;
}

.empty {
  font-size: 2em;
}
</style>

{% if site.posts.size > 0 %}
  {% assign odd = site.posts|size|modulo:2 %}
  <ul class="links posts {% if odd == 1 %}odd{% else %}even{% endif %}">
    {% for post in site.posts %}
      {% capture excerpt %}
        <span class="excerpt"><span class="screenreader">Excerpt:</span> {{ post.excerpt }}</span>
      {% endcapture %}
      {% include link.html title=post.title post=excerpt icon="far fa-file-alt" url=post.url %}
    {% endfor %}
  </ul>
{% else %}
  <h2 class="empty">No blog posts</h2>
{% endif %}
