---
section: Blog
css: /css/posts.css
---

{% if site.posts.size > 0 %}
  {% assign odd = site.posts|size|modulo:2 %}
  <ul class="links posts {% if odd == 1 %}odd{% else %}even{% endif %}">
    {% for post in site.posts %}
      {% capture excerpt %}
        {% if post.subtitle %}
          <h3>{{post.subtitle}}</h3>
        {% endif %}
        <span class="screenreader">Excerpt:</span> {{ post.excerpt }}
      {% endcapture %}
      {% include link.html title_element="h2" title=post.title post=excerpt icon="far fa-file-alt" url=post.url %}
    {% endfor %}
  </ul>
{% else %}
  <h2 class="empty">No blog posts</h2>
{% endif %}
