@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

#loading,
#loading i {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#loading[hidden] {
  display: none;
}
#loading {
  background-color: rgba(0, 0, 0, 0.6);
}
#loading i {
  color: white;
  font-size: min(50vh, 100px);
}

.edit-wrapper {
  margin-bottom: 1em;
}

.edit-wrapper > * {
  margin-right: 1em;
  vertical-align: middle;
}

.entry-content[contenteditable=true] {
  white-space: pre-wrap;
  font-family: monospace;
}

table.diff {
  width: 100%;
  table-layout: fixed;
  overflow-wrap: break-word;
  color: black;
  background: white;
  margin: 1em 0;
}

table.diff:not(.inlinediff) th:nth-child(odd),
table.diff.inlinediff th:nth-child(1),
table.diff.inlinediff th:nth-child(2) {
  width: 2em;
  box-sizing: content-box;
  padding-left: 0;
}
