#loading,
#loading i {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#loading[hidden] {
  display: none;
}
#loading {
  background-color: rgba(0, 0, 0, 0.6);
}
#loading i {
  color: white;
  font-size: min(50vh, 100px);
}
