<script src="https://unpkg.com/showdown/dist/showdown.min.js"></script>

<script src="https://cemerick.github.io/jsdifflib/diffview.js"></script>
<script src="https://cemerick.github.io/jsdifflib/difflib.js"></script>
<link rel="stylesheet" type="text/css" href="https://cemerick.github.io/jsdifflib/diffview.css">

<template>
  <div id="admin-post-edit">
    <button {hidden}="hideEdit" {on-click}="clickEdit" class="button-edit"><i class="icon fas fa-pencil-alt"></i>Edit</button>
    <button {hidden}="hideCancel" {on-click}="clickCancel" class="button-cancel"><i class="icon fas fa-times"></i>Cancel</button>
    <button {hidden}="hideSubmit" {on-click}="clickSubmit" class="button-submit"><i class="icon fas fa-check"></i>Submit</button>
    <button {hidden}="hidePublish" {on-click}="clickPublish" class="button-publish"><i class="icon fas fa-cloud-upload-alt"></i>Publish</button>
    <button {hidden}="hideUnpublish" {on-click}="clickUnpublish" class="button-unpublish"><i class="icon fas fa-cloud-download-alt"></i>Unpublish</button>
    <button {hidden}="hideTweet" {on-click}="clickTweet" class="button-tweet"><i class="icon fab fa-twitter"></i>Tweet</button>

    <input {hidden}="hideImageInput" {on-change}="uploadImage" {value}="imageFile" type="file" accept="image/*">
    <img {hidden}="hideImage" {src}="image" class="post-image">

    <span {hidden}="hideSpinner" class="spinner"><i hidden class="fas fa-spinner fa-pulse"></i></span>

    <form {hidden}="hideViewForm" name="view" class="view-wrapper" onsubmit="return false;" {on-change}="changeView">
      View:
      <label>
        <input type="radio" name="style" value="html" checked>
        <span>HTML</span>
      </label>
      |
      <label>
        <input type="radio" name="style" value="raw">
        <span>Raw</span>
      </label>
      |
      <label>
        <input type="radio" name="style" value="diff">
        <span>Diff</span>
      </label>
    </form>
  </div>
</template>

<style>
  #admin-post-edit {
    margin-bottom: 1em;
  }
  #admin-post-edit > * {
    margin-right: 1em;
    margin-bottom: 1em;
    vertical-align: middle;
  }

  .view-wrapper input[type="radio"] {
    display: none;
  }
  .view-wrapper input + span {
    cursor: pointer;
    text-decoration: underline;
  }
  .view-wrapper input:checked + span {
    font-weight: bold;
    text-decoration: none;
  }

  [placeholder][contenteditable]:empty::before {
      content: attr(placeholder);
      opacity: 0.5;
      cursor: text;
  }
  [placeholder][contenteditable]:empty:focus::before {
      content: '';
  }

  textarea {
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    background: inherit;
    color: inherit;
    font-size: 100%;
    /* Stop focus outline from covering cursor at the beginning of lines */
    outline-offset: 5px;
  }

  textarea,
  [contenteditable=plaintext-only] {
    white-space: nowrap;
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  }

  table.diff {
    width: 100%;
    table-layout: fixed;
    overflow-wrap: break-word;
    color: black;
    background: white;
    margin: 1em 0;
  }

  table.diff:not(.inlinediff) th:nth-child(odd),
  table.diff.inlinediff th:nth-child(1),
  table.diff.inlinediff th:nth-child(2) {
    width: 2em;
    box-sizing: content-box;
    padding-left: 0;
  }

  .post-image {
    display: block;
    width: 50px;
  }
</style>

<script type="module">
  // @ts-check

  import { PostFile } from "./post-file.js";
  import { State, show, createHTML } from "./utils.js";
  import { markdownToHTML, htmlToMarkdown } from "./lib.js";

  export const config = {
    useShadowDOM: false,
    renderOnSetters: [
      'hideEdit',
      'hideCancel',
      'hideSubmit',
      'hidePublish',
      'hideUnpublish',
      'hideTweet',
      'hideSpinner',
      'hideViewForm',
      'hideImageInput',
      'hideImage',
      'imageFile',
      'image',
    ],
  };

  export class View {
    /**
     * @param {DOMStringMap} dataset
     * @param {EventTarget} events
     */
    constructor(dataset, events) {
      this.events = events;

      this.postElements = {
        items: [],
        forEach: (...args) => {
          return this.postElements.items.forEach.apply(this.postElements.items, args);
        },
        push: (item) => {
          this.postElements.items.push(item);
          const {el, attr} = item;
          show(el, true);
          el.setAttribute('placeholder', attr.charAt(0).toUpperCase() + attr.slice(1));
          el.addEventListener('input', () => this.updatePost(attr, el));

          if (attr === 'content') {
            el.addEventListener('paste', (event) => {
              if (this.writingHTML) {
                pasteWithoutFormatting(event);
              }
            });
          } else {
            el.addEventListener('keyup', preventEnterKey);
            el.addEventListener('keydown', preventEnterKey);
            el.addEventListener('paste', pasteWithoutFormatting);
          }
        },
      };

      document.querySelectorAll('[data-admin-editable]').forEach(el => {
        this.postElements.push({ el, attr: el.getAttribute('data-admin-editable') });
      });
      this.contentWrapper = document.querySelector('[data-admin-content]');

      const arrayProps = dataset.arrayProps.split(',').map(s=>s.trim());
      const lastArrayProps = {};
      this.postElements.forEach(({el, attr}) => {
        const key = attr.split(':')[0];
        if (arrayProps.includes(key)) {
          lastArrayProps[key] = {el, attr};
        }
      });
      this.extraEditingButtons = [];
      Object.values(lastArrayProps).forEach(({el, attr}) => {
        const [key, index] = attr.split(':');
        const makeNew = createHTML(`<button hidden>Add ${key}</button>`);
        let lastIndex = index;
        makeNew.onclick = () => {
          lastIndex++;
          const clone = el.cloneNode();
          clone.dataset.adminEditable = `${key}:${lastIndex}`;
          makeNew.before(clone);
          this.postElements.push({
            el: clone, attr: clone.dataset.adminEditable,
          });
        };
        el.after(makeNew);
        this.extraEditingButtons.push(makeNew);
      });

      this.textarea = document.createElement('textarea');
      this.textarea.addEventListener('input', () => {
        this.fixTextareaHeight();
        this.updatePost();
      });

      /** @type {HTMLElement} */
      this.diffEl = document.createElement('div'); // so it always exists

      this.state = new EditPostState();
      this.state.addChangeListener(() => this.render());

      window.addEventListener('beforeunload', event => {
        if (this.needsReview()) {
          event.preventDefault();
          event.returnValue = '';
        }
      });

      const postFile = new PostFile({
        filepath: dataset.filepath,
      });
      postFile.fetch().then(() => {
        this.postFile = postFile;
        this.renderState();

        if (postFile.isDraft) {
          this.render();
        }

        if (postFile.isNew || postFile.hasLocalChanges) {
          this.state.moveToEdit();
        }
      });
    }

    fixTextareaHeight() {
      cancelAnimationFrame(this.fixTextareaHeightRAF);
      this.fixTextareaHeightRAF = requestAnimationFrame(() => {
        this.textarea.style.lineHeight = '1.2';
        const numlines = this.textarea.value.split('\n').length;
        this.textarea.style.height = numlines * Number(this.textarea.style.lineHeight) + 'em';
      });
    }

    /** @param {Event} event */
    changeView(event) {
      this.viewStyle = new FormData(event.currentTarget).get('style');
      this.render();
    }
    /** @param {Event} event */
    uploadImage(event) {
      const file = this.imageFile = event.srcElement.files.item(0);
      this.image = file ? imagePreviewSrc(file) : '';
      this.postFile.setImage(file);
      this.renderState();
    }

    clickEdit() {
      this.state.moveToEdit();
    }
    clickCancel() {
      if (this.needsReview() && !confirm('You will lose unsaved changes. Are you sure')) {
        return;
      }

      this.reset();
    }
    clickSubmit() {
      if (!this.postFile.getTitle()) {
        throw new Error('Post must have a title');
      }
      this.state.moveToSubmitting();
      this.submitPost();
    }
    clickPublish() {
      this.state.moveToPublishing();
      this.publishPost();
    }
    clickUnpublish() {
      this.state.moveToUnpublishing();
      this.unpublishPost();
    }
    clickTweet() {
      this.state.moveToTweeting();
      const newTweetUrl = new URL('https://twitter.com/intent/tweet');
      newTweetUrl.searchParams.set('text', `New blog post! "${this.postFile.get('title')}"`);
      newTweetUrl.searchParams.set('url', window.location.href);

      // Open a new tab/window so the above next steps can occur.
      window.open(newTweetUrl.toString(), '_blank');
      // Get posted tweet url and save to the file.
      const tweet = prompt('Enter tweet url');
      this.postFile.setSyndication('twitter', tweet);
      // View the diff so it can be submitted.
      this.clickEdit();
      this.viewStyle = 'diff';
      this.render();
    }

    get waiting() {
      return this.submitting || this.publishing || this.tweeting;
    }
    get submitting() {
      return this.state.submitting;
    }
    get publishing() {
      return this.state.publishing;
    }
    get tweeting() {
      return this.state.tweeting;
    }
    get editing () {
      return this.state.editing && !this.waiting;
    }
    get writingRaw() {
      return this.editing && this.viewStyle === 'raw';
    }
    get writingHTML() {
      return this.editing && (this.viewStyle === 'html' || this.viewStyle == null);
    }
    get writing() {
      return this.writingRaw || this.writingHTML;
    }
    get diffing() {
      return this.editing && this.viewStyle === 'diff';
    }
    get canSubmit() {
      return this.editing && this.needsReview();
    }
    get canPublish() {
      return !this.editing && !this.waiting && this.postFile.isDraft;
    }
    get canUnpublish() {
      return !this.editing && !this.waiting && !this.postFile.isDraft && !this.postFile.isNew;
    }
    get canTweet() {
      return !this.editing && !this.waiting && !this.postFile.isDraft && !this.postFile.hasSyndication('twitter');
    }

    render() {
      this.renderContent();
      this.renderState();
    }

    renderState() {
      let contentEditable = 'false';
      if (this.writingHTML) {
        contentEditable = 'true';
      } else if (this.writingRaw) {
        contentEditable = 'plaintext-only';
      }
      this.setContentEditable(contentEditable);

      this.hideEdit = this.editing || this.waiting;
      this.hideCancel = !this.editing;
      this.hideSubmit = !this.canSubmit;
      this.hidePublish = !this.canPublish;
      this.hideUnpublish = !this.canUnpublish;
      this.hideTweet = !this.canTweet;
      this.hideSpinner = !this.waiting;
      this.hideViewForm = !this.editing;
      this.hideImageInput = !this.editing;
      this.hideImage = this.postFile && !this.postFile.has('image');
      this.image = this.imageFile ? imagePreviewSrc(this.imageFile) : this.postFile.get('image');

      this.extraEditingButtons.forEach(b => show(b, this.editing));
    }

    renderContent() {
      if (this.diffing) {
        this.diffEl = this.postFile.diff();
        this.contentWrapper.replaceWith(this.diffEl);
        this.textarea.replaceWith(this.diffEl);
        return;
      }

      if (this.writingRaw) {
        this.textarea.value = this.postFile.getRaw();

        this.contentWrapper.replaceWith(this.textarea);
        this.diffEl.replaceWith(this.textarea);
        this.fixTextareaHeight();
      } else {
        this.postElements.forEach(({el, attr}) => {
          const html = markdownToHTML(this.postFile.get(attr));
          if (attr === 'content') {
            el.innerHTML = html;
            // Fix code highlighting after editing.
            el.querySelectorAll('pre').forEach(pre => pre.classList.add('highlight'));
          } else {
            el.innerHTML = html.replace(/^<p>|<\/p>$/g, '');
          }
        });

        this.textarea.replaceWith(this.contentWrapper);
        this.diffEl.replaceWith(this.contentWrapper);
      }
    }

    /** @param {string} value */
    setContentEditable(value) {
      this.postElements.forEach(({el, attr}) => {
        el.contentEditable = value;
      });
      document.execCommand('defaultParagraphSeparator', false, 'p');
    }

    /** @type {(attr: string, el: Element) => void} */
    updatePost(attr, el) {
      if (this.writingRaw) {
        this.postFile.setRaw(this.textarea.value);
      } else {
        this.postFile.set(attr, htmlToMarkdown(el.innerHTML));
      }
      this.renderState();
    }

    needsReview() {
      return this.postFile.hasChanges();
    }

    reset() {
      this.postFile.reset();
      this.imageFile = '';
      // TODO: implement ngModel-like for form fields.
      // this.viewForm.reset();
      this.state.reset();
    }

    async submitPost() {
      await this.postFile.commit();

      this.state.reset();
      this.events.dispatchEvent(new CustomEvent('commit', {
        detail: this.postFile,
      }));
    }

    async publishPost() {
      await this.postFile.publish();

      this.state.reset();
      this.events.dispatchEvent(new CustomEvent('publish', {
        detail: this.postFile,
      }));
    }

    async unpublishPost() {
      await this.postFile.unpublish();

      this.state.reset();
      this.events.dispatchEvent(new CustomEvent('unpublish', {
        detail: this.postFile,
      }));
    }
  }

  class EditPostState {
    constructor() {
      this._state = new State('view', 'edit', 'submitting', 'publishing', 'unpublishing', 'tweeting');
    }

    get editing() {
      return this._state.is('edit');
    }
    get submitting() {
      return this._state.is('submitting');
    }
    get publishing() {
      return this._state.is('publishing');
    }
    get unpublishing() {
      return this._state.is('unpublishing');
    }
    get tweeting() {
      return this._state.is('tweeting');
    }

    /** @param {() => void} fn */
    addChangeListener(fn) {
      this._state.addChangeListener(fn);
    }

    reset() {
      this._state.moveTo('view');
    }

    moveToEdit() {
      this._state.moveTo('edit');
    }

    moveToSubmitting() {
      this._state.moveTo('submitting');
    }

    moveToPublishing() {
      this._state.moveTo('publishing');
    }

    moveToUnpublishing() {
      this._state.moveTo('unpublishing');
    }

    moveToTweeting() {
      this._state.moveTo('tweeting');
    }
  }

  /** @param {KeyboardEvent} event */
  function preventEnterKey(event) {
    if (event.code === 'Enter') {
      event.preventDefault();
    }
  }
  /** @param {ClipboardEvent} event */
  function pasteWithoutFormatting(event) {
    // cancel paste
    event.preventDefault();
    // get text representation of clipboard
    var text = event.clipboardData.getData('text/plain');
    // insert text manually
    document.execCommand('insertHTML', false, text);
  }

  /** @param {File} file */
  function imagePreviewSrc(file) {
    if (file.__proxy_target__) {
      file = file.__proxy_target__;
    }
    return URL.createObjectURL(file);
  }
</script>
