<link rel="stylesheet" type="text/css" href="/admin/admin.css">

<template>
  <section {hidden}="hide" id="admin-post-list">
    <h2>Blog Admin</h2>

    <div class="side-by-side">
      <admin-post-drafts-list></admin-post-drafts-list>
      <admin-post-unsaved-list></admin-post-unsaved-list>
    </div>

    <div class="journal-line"></div>
  </section>
</template>

<script type="module">
  import { Admin } from './admin.js';
  import { show } from './utils.js';

  // @ts-check
  export const config = {
    useShadowDOM: false,
    renderOnSetters: ['hide'],
  };

  export class View {
    /** @param {DOMStringMap} dataset */
    constructor(dataset) {
      this.hide = true;

      Admin.onLogin((loggedIn) => {
        if (!loggedIn) {
          return;
        }

        this.hide = false;
      });
    }
  }
</script>
