<template>
  <p>Unsaved changes:</p>
  <ul class="unsaved">
    <li {for}="unsaved"><admin-edit-post-link data-filepath="{{filepath}}"></admin-edit-post-link></li>
  </ul>
</template>

<script type="module">
  // @ts-check

  // @ts-ignore
  import { PostDraft } from './post-draft.js';

  export const config = {
    useShadowDOM: false,
  };

  export class View {
    /** @param {DOMStringMap} dataset */
    constructor(dataset) {
      /** @type {{name: string, encodedPath: string}[]} */
      this.unsaved = [];

      for (let i = 0; i < localStorage.length; i++) {
        const keyParts = localStorage.key(i).match(/^gh_post_(.*)/);
        const filepath = keyParts && keyParts[1];
        if (!filepath || filepath === 'new') {
          continue;
        }

        this.unsaved.push({
          name: filepath,
          encodedPath: window.encodeURIComponent(filepath),
        });
      }
    }
  }
</script>
