<template>
  <p>Drafts:</p>
  <ul class="drafts">
    <li><a href="/admin/edit"><i class="icon fas fa-plus"></i>New</a></li>
    <li><i class="icon fas fa-spinner fa-pulse"></i></li>
    <li {for-drafts}><a href="/admin/edit?filepath={{ encodedPath }}">{{ name }}</a></li>
  </ul>
</template>

<script type="module">
  import { PostDraft } from './post-draft.js';

  // @ts-check
  export const config = {
    useShadowDOM: false,
    renderOnSetters: ['drafts'],
  };

  export class View {
    /** @param {DocumentFragment} fragment */
    constructor(fragment) {
      const spinner = fragment.querySelector('.fa-spinner').parentElement;

      PostDraft.list().then(drafts => {
        spinner.remove();
        this.drafts = drafts;
      });
    }
  }
</script>
