<template>
  <p>Drafts:</p>
  <ul class="drafts">
    <li><a href="/admin/edit"><i class="icon fas fa-plus"></i>New</a></li>
    <li {hidden}="ready"><i class="icon fas fa-spinner fa-pulse"></i></li>
    <li {for}="drafts"><admin-edit-post-link data-name="{{name}}" data-filepath="{{filepath}}"></admin-edit-post-link></li>
  </ul>
</template>

<script type="module">
  import { PostDraft } from './post-draft.js';

  // @ts-check
  export const config = {
    useShadowDOM: false,
    renderOnSetters: ['drafts', 'ready'],
  };

  export class View {
    /** @param {DOMStringMap} dataset */
    constructor(dataset) {
      this.ready = false;

      PostDraft.list().then(drafts => {
        this.ready = true;
        this.drafts = drafts;
      });
    }
  }
</script>
