<link rel="stylesheet" type="text/css" href="/admin/admin.css">

<template>
  <section hidden id="admin-post-list">
    <h2>Blog Admin</h2>

    <div class="side-by-side">
      <admin-post-drafts-list></admin-post-drafts-list>
      <admin-post-unsaved-list></admin-post-unsaved-list>
    </div>

    <hr>
  </section>
</template>

<style>
  .side-by-side {
    display: flex;
    flex-wrap: wrap;
  }
  .side-by-side > * {
    flex-basis: 300px;
    flex-grow: 1;
    margin-right: 1em !important;
  }
</style>

<script type="module">
  import { Admin } from './admin.js';
  import { show } from './utils.js';

  // @ts-check
  export const config = {
    useShadowDOM: false,
  };

  export class View {
    /** @param {DocumentFragment} fragment */
    constructor(fragment) {
      const listEl = fragment.getElementById('admin-post-list');

      Admin.onLogin((loggedIn) => {
        if (!loggedIn) {
          return;
        }

        show(listEl, true);
      });
    }
  }
</script>
