<!DOCTYPE html>
<html>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-53059920-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-53059920-2');
  </script>

  <title>{% if page.headTitle %}{{ page.headTitle }} &ndash; {% endif %}{% if page.title %}{{ page.title }} – {% endif %}Henry Blyth</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link href='//fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=PT+Sans+Narrow:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/main.css">

  <link rel="pingback" href="https://webmention.io/henryblyth.com/xmlrpc" />
  <link rel="webmention" href="https://webmention.io/henryblyth.com/webmention" />

  {% if page.image %}
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="{{ site.url }}{{ page.image }}">
  {% else %}
  <meta name="twitter:card" content="summary">
  <meta name="twitter:image" content="{{ site.url }}/images/logo.png">
  {% endif %}
  {% if page.title %}
  <meta name="twitter:title" content="{{ page.title }}">
  {% else %}
  <meta name="twitter:title" content="Henry Blyth">
  {% endif %}
  <meta name="twitter:site" content="@henrahmagix">
  <meta name="twitter:creator" content="@henrahmagix">
  {% if page.subtitle %}
  <meta name="twitter:description" content="{{ page.subtitle }}">
  {% endif %}
</head>

<body class="page-{% if page.class %}{{ page.class }}{% else %}{{ page.title | slugify }}{% endif %}">

  <a href="#content" id="skip-to-content">Skip to main content</a>

  <header class="page-header h-card">
    <div class="logo-and-nav content-max-width">
      <a class="logo-flipper {%if page.url == '/' %}u-url{%endif%}" rel="me" href="{{ site.url }}" title="Home">
        <img class="logo u-photo" src="/images/logo.svg" alt="Henry James Blyth signature">
        <img class="logo backface" src="/images/me.jpg" alt="profile photo of Henry James Blyth">
      </a>

      <nav>
        <ul class="links">
          {% for link in site.data.links %}
            {% if link.menulist == true %}
              {% include link.html title=link.title url=link.url relme=link.relme %}
            {% endif %}
          {% endfor %}
          <li>💡Try! <button class="button-link" id="ipad-cursor-button">iPad OS cursor</button></li>
        </ul>
      </nav>
    </div>

    <div class="strikethrough-wrapper">
      <h1 class="p-name">
        {% if page.url == "/" %}Henry &nbsp; James &nbsp; Blyth
        {% elsif layout.section != nil %}{{ layout.section }}
        {% elsif page.section != nil %}{{ page.section }}
        {% elsif page.title %}{{ page.title }}
        {% endif %}
      </h1>
    </div>
  </header>

  <main class="page-body content-max-width">
    {{ content }}
  </main>

  <footer class="page-footer">
    <div class="strikethrough-wrapper">
      <ul class="links">
        {% for link in site.data.links %}
          {% if link.footerlist %}
            {% include link.html title=link.title hide_title=true icon=link.icon url=link.url relme=link.relme %}
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    <span class="contact content-max-width">
      <i class="first far fa-envelope"></i>
      <span class="screenreader">contact me at</span>
      henry at henryblyth dot com
    </span>
  </div>

  <script>
    var ipadButton = document.getElementById('ipad-cursor-button');
    var done = false;
    ipadButton.addEventListener('click', function (event) {
      event.preventDefault();
      if (done) {
        return;
      }

      window.startingCursorPosition = {x: event.x, y: event.y};

      var link = document.createElement('link');
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = '/css/ipad-cursor.css';
      document.head.appendChild(link);

      var script = document.createElement('script');
      script.src = '/js/ipad-cursor.js';
      script.onload = function () {
        var tick = document.createElement('span');
        tick.innerText = '✅';
        tick.style.marginLeft = '0.25em';
        tick.style.verticalAlign = 'middle';
        ipadButton.parentElement.appendChild(tick);
        done = true;
      };
      document.body.appendChild(script);
    });
  </script>

</body>
</html>
