---
layout: compress
back_to: home
---

{% if page.section %}
  {% capture section %}{{page.section|capitalize}}{% endcapture %}
{% elsif layout.section %}
  {% capture section %}{{layout.section|capitalize}}{% endcapture %}
{% endif %}

{% unless page.section %}
  {% capture page_title %}{{ page.title|markdownify|remove:'<p>'|remove:'</p>'|strip }}{% endcapture %}
  {% if page_title == '' %}{% assign page_title = nil %}{% endif %}
{% endunless %}

{%- comment -%} Meta Title {%- endcomment -%}
{% if page_title %}
  {% capture meta_title %}{{ page_title|strip_html }} &ndash; {{ site.title }}{% endcapture %}
{% elsif section %}
  {% capture meta_title %}{{ section }} &ndash; {{ site.title }}{% endcapture %}
{% else %}
  {% capture meta_title %}{{ site.title }}{% endcapture %}
{% endif %}

{%- comment -%} Meta Image {%- endcomment -%}
{% if page.image %}
  {% capture meta_image %}{{ site.url }}{{ page.image }}{% endcapture %}
  {% assign twitter_card = "summary" %}
  {%- comment -%} summary_large_image doesn't seem to be working for me 😢 {%- endcomment -%}
{% else %}
  {% capture meta_image %}{{ site.url }}/images/me_silly.jpg{% endcapture %}
  {% assign twitter_card = "summary" %}
{% endif %}

{%- comment -%} Meta Description {%- endcomment -%}
{% if page.url == "/" %}
  {% assign meta_desc = site.description %}
{% elsif page.excerpt %}
  {% assign meta_desc = page.excerpt|strip_html|strip %}
{% elsif layout.description %}
  {% assign meta_desc = layout.description %}
{% elsif page.description %}
  {% assign meta_desc = page.description %}
{% elsif page.subtitle %}
  {% assign meta_desc = page.subtitle %}
{% elsif page.category_name %}
  {% capture meta_desc %}All blog posts related to {{page.category_name}}{% endcapture %}
{% elsif page.dir != '/admin/' %}
  {{ "every page must have a description: " | append: page.path | sort: "cause an error" }}
{% endif %}

{%- comment -%} Meta Article {%- endcomment -%}
{% if page.date %}
  {% assign meta_type = "article" %}
  {% capture meta_type_info %}
    <meta name="article:published_time" property="article:published_time" content="{{page.date|date:'%Y-%m-%d'}}" />
    {% if page.updates %}
      {% assign meta_last_update = page.updates|sort:"date"|last %}
    {% endif %}
    {% if meta_last_update %}
      <meta name="article:modified_time" property="article:modified_time" content="{{meta_last_update.date|date:'%Y-%m-%d'}}" />
    {% endif %}
    {% if page.categories.first %}
      <meta name="article:section" property="article:section" content="{{page.categories.first}}" />
    {% endif %}
  {% endcapture %}
{% endif %}

<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <meta name="theme-color" content="#f7f7f2" media="(prefers-color-scheme: light)">
  <meta name="theme-color" content="#0c0d14" media="(prefers-color-scheme: dark)">
  {%- comment -%} TODO: rebiuld icon assets {%- endcomment -%}
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="og:url" property="og:url" content="{{ site.url }}{{ page.url }}">

  <title>{{ meta_title }}</title>
  <meta name="og:title" property="og:title" content="{{ meta_title }}">
  <meta name="twitter:title" content="{{ meta_title }}">

  <meta name="description" content="{{ meta_desc }}">
  <meta name="twitter:description" content="{{ meta_desc }}">
  <meta name="og:description" property="og:description" content="{{ meta_desc }}">

  <meta name="og:image" property="og:image" content="{{ meta_image }}">
  <meta name="twitter:card" content="{{ twitter_card }}">
  <meta name="twitter:image" content="{{ meta_image }}">

  <meta name="twitter:site" content="@henrahmagix">
  <meta name="twitter:creator" content="@henrahmagix">

  {% if meta_type %}
    <meta name="og:type" property="og:type" content="{{meta_type}}">
    {{meta_type_info}}
  {% endif %}

  {% if page.url == "/" or page.url == "/blog" %}
    {% for category_hash in site.categories %}
      <meta name="article:tag" property="article:tag" content="{{category_hash[0]}}" />
    {% endfor %}
  {% elsif page.categories %}
    {% for category in page.categories %}
      <meta name="article:tag" property="article:tag" content="{{category}}" />
    {% endfor %}
  {% elsif page.related_posts_category %}
    <meta name="article:tag" property="article:tag" content="{{page.related_posts_category}}" />
  {% endif %}

  {% feed_meta %}

  <link rel="stylesheet" type="text/css" href="/css/main.css">
  {%if content contains "<pre" and content contains "highlight"%}<link rel="stylesheet" type="text/css" href="/css/code.css">{%endif%}
  {%if page.css%}<link rel="stylesheet" type="text/css" href="{{page.css}}">{%endif%}

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Bilbo&family=Dancing+Script:wght@700&family=EB+Garamond:ital,wght@0,400;0,700;1,400;1,700&family=Gentium+Basic:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

  <link rel="pingback" href="https://webmention.io/henryblyth.com/xmlrpc" />
  <link rel="webmention" href="https://webmention.io/henryblyth.com/webmention" />

  <meta http-equiv="Permissions-Policy" content="interest-cohort=()"/>
</head>

<body class="page-{% if page.class %}{{ page.class }}{% else %}{{ page.title | slugify }}{% endif %}">

  <div id="body-inner" class="flex-wrapper">
  <a href="#content" class="accessible-skip">Skip to main content</a>

  <header class="page-header h-card">
    <nav id="navigation" aria-label="Main">
      <ul class="nav list-reset">
        <li class="logo-list-item">
          <a class="logo logo-flipper" rel="me" href="/" title="Home">
            <svg width="100px" class="frontface logo-signature"><use xlink:href="/images/logo.svg#signature" alt=""></use></svg>
            <img width="100px" class="logo-journal-circle" src="/images/watercolour-circle-light.svg" alt="">
            <img width="100px" class="backface logo-myface" src="/images/me_silly.jpg" alt="silly profile photo of {{site.author}} with googly eyes and a clown hat">
          </a>
        </li>
        {% for link_hash in site.data.links %}
        {% assign link = link_hash[1] %}
          {% if link.url and link.hide_nav != true %}
            <li>
            {% include link.html title=link.title url=link.url relme=link.relme %}
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </header>

  <div class="page-wrapper">

  <main class="content-max-width hentry h-entry">

    {% if page.back_to %}
      {% assign back_to = page.back_to %}
    {% elsif layout.back_to %}
      {% assign back_to = layout.back_to %}
    {% endif %}
    {% if back_to.url == nil %}
      {% assign back_to = site.data.links[back_to] %}
    {% endif %}

    {% if back_to and back_to.url != page.url %}
      {% include back-link.html url=back_to.url title=back_to.title id="top" class="page-top" %}
    {% else %}
      <div id="top"></div>
    {% endif %}

    <article id="content" class="entry-content e-content {% if page.class %}content-{{ page.class }}{% endif %}">
      {% capture header_title %}
        {% if page.url == "/" %}
          <h1 class="entry-title p-name journal-crossout">{{site.author}}</h1>
        {% elsif section %}
          <h1 class="entry-title p-name journal-highlight">{{section}}</h1>
        {% endif %}
      {% endcapture %}
      {% assign header_title = header_title | strip %}
      {% if header_title == '' %}{% assign header_title = nil %}{% endif %}

      {% if header_title %}
        <div class="p-name-wrapper">{{header_title}}</div>
      {% endif %}

      <div class="meta_info" hidden>
        <img class="u-photo" src="/images/me_silly.jpg" alt="silly profile photo of {{site.author}} with googly eyes and a clown hat">
        <a rel="author" class="p-author h-card" href="{{ site.url }}">{{site.author}}</a>
        <a class="u-url" href="{{ site.url }}{{ page.url }}">{{ site.url }}{{ page.url }}</a>
      </div>

      {% if page.url == "/" and site.categories %}
        <div hidden>{% include categories_nav.html site_categories=true %}</div>
      {% elsif page.categories %}
        {% include categories_nav.html categories=page.categories %}
      {% endif %}

      {% assign show_update_skip = false %}
      {% if page.layout == 'post' %}{% assign show_update_skip = true %}{% endif %}
      {% include published-date.html context=page show_update_skip=show_update_skip %}

      {% unless header_title %}
      {%- comment -%} Keep title/subtitle rendered so admin can edit them for new drafts {%- endcomment -%}
      <h1 {% unless page_title %}hidden{% endunless %} class="page-title {% if page_title %}entry-title p-name{% endif %}">{{ page_title }}</h1>
      <p {% unless page.subtitle %}hidden{% endunless %} class="page-subtitle {% if page.subtitle %}entry-summary p-summary{% endif %}">{{ page.subtitle|markdownify|remove:'<p>'|remove:'</p>' }}</p>
      {% endunless %}

      {{ content }}

      {% if page.url != "/" and page.hide_share != true and layout.hide_share != true %}
        {% capture share_section %}
          {% include share.html %}
        {% endcapture %}
      {% endif %}

      {% assign related_posts = site.categories[page.related_posts_category] %}

      {% if share_section or related_posts %}
        <aside>
          <div class="journal-line"></div>

          {% if share_section %}
            {{ share_section }}
          {% endif %}

          {% if related_posts or site.related_posts %}
            <div id="related-section">
              {% if related_posts %}
                <h2 class="fancy-title emoji-on-the-left">Related blog posts <span class="emoji">📖</span></h2>
                <p>Read more in <a href="{{site.data.links.blog.url}}/{{page.related_posts_category}}">my blog about {{page.related_posts_category}}</a></p>
                {% include posts.html posts=related_posts heading_element="h3" %}
              {% elsif site.related_posts %}
                <h2 class="fancy-title emoji-on-the-left">More reading <span class="emoji">💌</span></h2>
                {% include posts.html posts=site.related_posts heading_element="h3" %}
              {% endif %}
            </div>
          {% endif %}
        </aside>
      {% endif %}
    </article>

    {% include link.html url="#top" title="Back to top" class="page-back-to-top" icon="fas fa-long-arrow-alt-up" %}

  </main>

  <footer>
    <nav class="strikethrough-wrapper" aria-label="Footer">
      <ul class="list-reset">
        {% for link_hash in site.data.links %}
          {% assign link = link_hash[1] %}
          {% if link.ext_url and link.hide_footer != true %}
            <li>
            {% assign link_title = link.title %}
            {% if link.ext_title %}{% assign link_title = link.ext_title %}{% endif %}
            {% include link.html title=link_title hide_title=true icon=link.icon url=link.ext_url relme=link.relme %}
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
    <address class="contact">
      ✉️
      <span class="sr-only">contact me at</span>
      henry at henryblyth dot com
    </address>
  </footer>
  </div>
  </div>

  {% if page.layout == 'post' %}
    {% include post-admin.html %}
  {% elsif page.add_admin_scripts %}
    {% include post-list-admin.html %}
  {% endif %}

  {% if page.js.first %}
    {% for page_js in page.js %}
      <script src="{{page_js}}"></script>
    {% endfor %}
  {% elsif page.js %}
    <script src="{{page.js}}"></script>
  {% endif %}

</body>
</html>
