---
layout: default
section: Blog
back_to: blog
---

{%- comment -%} Keep this as just {{content}} so edit script can easily reinsert rendered markdown {%- endcomment -%}

{% if page.pre_content %}
  {% for line in page.pre_content %}
    <p class="pre-content">{{line|markdownify|remove:'<p>'|remove:'</p>'}}</p>
  {% endfor %}
  <hr>
{% endif %}

{% capture built_toc %}{% include toc.html html=content skipNoIDs=true %}{% endcapture %}
{% assign toc_without_newlines = built_toc|strip_newlines %}
{% if toc_without_newlines != "" %}
  <h2>Table of contents</h2>
  {{built_toc}}
  <hr>
{% endif %}

<article class="entry-content e-content">
  {% include anchor_headings.html html=content anchorBody="#" anchorClass="heading-anchor" %}
</article>
