---
layout: default
---

<img class="hidden logo u-photo" src="/images/logo.png" alt="Henry James Blyth signature">
<a rel="author" class="hidden p-author h-card" href="{{ site.url }}">Henry James Blyth</a>
<a class="hidden u-url" href="{{ site.url }}{{ page.url }}">{{ site.url }}{{ page.url }}</a>

<p>Published on <time class="published" datetime="{{ page.date }}">{{ page.date | date_to_long_string }}</time></p>

{% include back-link.html title="Blog" url=site.data.urls.blog %}

<div class="entry-content">
  {{ content }}
</div>

{% if page.syndications %}
  <p>Share and respond?</p>
  <ul class="links">
    {% for link in page.syndications %}
      {% include syndication-link.html title=link.title icon=link.icon url=link.url %}
    {% endfor %}
  </ul>
{% endif %}
