---
layout: default
---

<img class="hidden logo u-photo" src="/images/logo.svg" alt="HjB signature">
<a rel="author" class="hidden p-author h-card" href="{{ site.url }}">Henry James Blyth</a>
<a class="hidden u-url" href="{{ site.url }}{{ page.url }}">{{ site.url }}{{ page.url }}</a>

<p>Published on <time class="published" datetime="{{ page.date }}">{{ page.date | date_to_long_string }}</time></p>

{% include back-link.html title="Blog" url=site.data.urls.blog position="top" %}

<div class="entry-content">
    {{ content }}
</div>

{% if page.syndications %}
    <p>Comment and share?</p>
    <ul class="links">
        {% for link in page.syndications %}
            {% capture title %}On {{link.title}}{% endcapture %}
            {% include link.html title=title icon=link.icon url=link.url %}
        {% endfor %}
    </ul>
{% endif %}

{% include back-link.html title="Blog" url=site.data.urls.blog position="bottom" %}
